In [542]:
%run common.py

Planning start time: Jul 22, 14:40 (1469187638)

In [543]:
'''
    Examples:
    al = pd.read_csv(FOLDER + '/mandatory/travel_times_all_pairs.csv', sep=';')
    get_longest_pair(['МАРИИНСК', 'ИЛАНСКАЯ', 'ИРКУТСК-СОРТИРОВОЧНЫЙ', 'РЕШОТЫ'], al.set_index(['st_from_name', 'st_to_name']))
    
    => Out[460]: ('МАРИИНСК', 'ИРКУТСК-СОРТИРОВОЧНЫЙ', 94170)
    
    get_longest_pair(['МАРИИНСК', 'ИЛАНСКАЯ', 'РЕШОТЫ', 'ИРКУТСК-СОРТИРОВОЧНЫЙ'], nx.all_pairs_dijkstra_path_length(g))
    
    => Out[460]: ('МАРИИНСК', 'ИРКУТСК-СОРТИРОВОЧНЫЙ', 94170)    
'''

def get_longest_pair(st_list, lengths):
    sm1, sm2 = '', ''
    m = 0
    for s1 in st_list:
        for s2 in st_list:
            if type(lengths) == dict:
                l = lengths[s1][s2]
            elif type(lengths) == pd.DataFrame:
                l = lengths.ix[s1, s2].values[0]
            else: l = 0
            if l > m:
                m = l
                sm1, sm2 = s1, s2
    return (sm1, sm2, m)

In [544]:
all_lengths = pd.read_csv(FOLDER + '/mandatory/travel_times_all_pairs.csv', sep=';').set_index(['st_from_name', 'st_to_name'])
    
def get_reg_name(l):
    l_big = [st for st in l if st in big_st]
    if len(l_big) == 2:
        ret = l_big
    elif len(l_big) > 2:
        st1, st2, length = get_longest_pair(l_big, all_lengths)
        ret = [st1, st2]
    else:
        st1, st2, length = get_longest_pair(l, all_lengths)
        ret = [st1, st2]
    return ret[0] + ' - ' + ret[1]        

team_region = pd.read_csv(FOLDER + 'team_region.csv', dtype={'st_from':str, 'st_to':str, 'depot':str})
add_info(team_region)
big_st = stations[stations.norm_time > 0].name.unique()
team_region['depot_name'] = team_region.depot.map(st_names.name)
team_region['reg_name'] = team_region.team_region\
                            .map(team_region.groupby('team_region').st_from_name.unique().apply(get_reg_name))

cols_tracks = ['team_region', 'asoup', 'depot', 'depot_name', 'st_from_name', 'st_to_name', 'reg_name']
cols_times = ['team_region', 'asoup', 'depot', 'depot_name', 'time_f', 'time_b', 'time_wr']

In [545]:
#print(nice_time(current_time + 20*60 + 3*3600))
nct = current_time + 20*60 + 3*3600
st1 = 'ИРКУТСК-СОРТИРОВОЧНЫЙ'
start_st = team_plan[team_plan.state.isin([0, 1])].drop_duplicates('team').set_index('team')
team_plan['team_type'] = team_plan.team.apply(lambda x: int(str(x)[0]))
team_plan['start_st'] = team_plan.team.map(start_st.st_from)
team_plan.depot.fillna(team_plan.start_st, inplace=True)
team_plan['depot_name'] = team_plan.depot.map(st_names.name)
cols = ['team', 'st_from_name', 'st_to_name', 'time_start_norm', 'time_end_norm', 'state', 'loco']
a = team_plan[(team_plan.time_start >= nct) & (team_plan.time_start < nct + 24 * 3600)
         & (team_plan.state.isin([0, 1])) & (team_plan.st_from_name == st1) & (team_plan.depot_name == st1)]
print(a.st_to_name.value_counts())
print(a.state.value_counts())
print(a.team_type.value_counts())

ГОНЧАРОВО          24
БАТАРЕЙНАЯ         24
ВОЕННЫЙ ГОРОДОК     2
Name: st_to_name, dtype: int64
1    50
Name: state, dtype: int64
2    43
7     7
Name: team_type, dtype: int64

In [546]:
log.head()

   state                                               text                  dt
0  DEBUG  ntf ping stat  for: 10.160.22.217:33331 since:... 2016-07-17 00:00:03
1  DEBUG  Изменена задача mnemoscheme.calculate_windows ... 2016-07-17 00:00:09
2   INFO                            -----> Ntf size stats:  2016-07-17 00:00:38
3   INFO  ----> Ntf handle time stat {"PropertyNotifier|... 2016-07-17 00:00:38
4  DEBUG  ntf ping stat  for: 10.160.22.217:33331 since:... 2016-07-17 00:01:03

In [547]:
print(nice_time(current_time))
cols = ['team', 'st_from_name', 'st_to_name', 'oper_time_f', 'time_start_norm', 'state', 'wait_ct', 'wait']
team_plan['sinfo'] = team_plan['state_info']
team_plan['oper_time_f'] = team_plan.oper_time.apply(nice_time)
team_plan['wait_ct'] = np.round((current_time - team_plan.oper_time) / 3600, 2)
team_plan['wait'] = np.round((team_plan.time_start - team_plan.oper_time) / 3600, 2)
a = team_plan[(team_plan.state_info == '2') 
          & (team_plan.state.isin([0, 1]))][cols].drop_duplicates('team').sort_values('wait', ascending=False)

(a.wait - a.wait_ct).describe()

Jul 22, 14:40

count    76.000000
mean      3.386579
std       2.259012
min       0.000000
25%       1.410000
50%       3.320000
75%       5.320000
max       9.740000
dtype: float64

In [548]:
st = 'ИРКУТСК-СОРТИРОВОЧНЫЙ'

# trains
train_plan['train_type'] = train_plan.train.apply(lambda x: int(str(x)[0]))
trains = train_plan[(train_plan.time_start >= current_time) & (train_plan.time_start < current_time + 24 * 3600)
          & (train_plan.train_type.isin([2, 9]))
          & (train_plan.st_from_name == st)]

print('Trains:')
print(trains.st_to_name.value_counts().to_string(), '\n-')
print(trains.train_type.value_counts().to_string())

locos = loco_plan[(loco_plan.time_start >= current_time) & (loco_plan.time_start < current_time + 24 * 3600)          
          & (loco_plan.st_from_name == st)]
print('\nLocos:')
print(locos[locos.state == 1].st_to_name.value_counts().to_string(), '\n-')
print(locos.state.value_counts().to_string())

team_plan['team_type'] = team_plan.team.apply(lambda x: int(str(x)[0]))
team_plan['start_st'] = team_plan.team.map\
            (team_plan[team_plan.state.isin([0, 1])].drop_duplicates('team').set_index('team').st_from)
team_plan.depot.fillna(team_plan.start_st, inplace=True)
team_plan['depot_name'] = team_plan.depot.map(st_names.name)
teams = team_plan[(team_plan.time_start >= current_time) & (team_plan.time_start < current_time + 24 * 3600)          
          & (team_plan.st_from_name == st)]
print('\nTeams:')
print(teams[teams.state == 1].st_to_name.value_counts().to_string(), '\n-')
print(teams[teams.state == 1].team_type.value_counts().to_string(), '\n-')
print(teams[teams.state.isin([0, 1])].state.value_counts().to_string(), '\n-')
print(teams[teams.state.isin([0, 1])].depot_name.value_counts().to_string())

Trains:
ГОНЧАРОВО          59
БАТАРЕЙНАЯ         40
ВОЕННЫЙ ГОРОДОК     2
-
2    80
9    21

Locos:
ГОНЧАРОВО          46
БАТАРЕЙНАЯ         40
ВОЕННЫЙ ГОРОДОК     2
-
1    88
0    45
4     6

Teams:
БАТАРЕЙНАЯ         77
ГОНЧАРОВО          52
ВОЕННЫЙ ГОРОДОК     2
-
2    110
7     21
-
1    131
0      6
-
ЗИМА                     58
ИРКУТСК-СОРТИРОВОЧНЫЙ    53
НИЖНЕУДИНСК               5
СЛЮДЯНКА I                5
УЛАН-УДЭ                  3
ГОНЧАРОВО                 2
АНГАСОЛКА                 2
СЛЮДЯНКА II               2
КАЯ                       2
КИТОЙ                     1
КАСЬЯНОВКА                1
МЫСОВАЯ                   1
БАЙКАЛЬСК                 1
КИЖА                      1

In [549]:
all_lengths['dist'] = np.round(all_lengths.tt * 45 / 3600)

In [550]:
routes = pd.read_csv(FOLDER + 'routes.csv', dtype={'st_from':str, 'st_to':str, 'train':str})
add_info(routes)
routes['first_st'] = routes.st_from_name
routes['end_st'] = routes.train.map(routes.drop_duplicates('train', keep='last').set_index('train').st_to_name)
rs = routes.drop_duplicates('train').copy(deep=True)
rs['route'] = rs.apply(lambda row: (row.first_st, row.end_st), axis=1)
rs['tt'] = rs.route.map(lambda x: all_lengths.ix[x[0], x[1]].tt)
rs['dist'] = rs.route.map(lambda x: all_lengths.ix[x[0], x[1]].dist)

In [551]:
print(nice_time(current_time))
train_plan['train_time'] = list(zip(train_plan.train, train_plan.time_start))
loco_plan['train_time'] = list(zip(loco_plan.train, loco_plan.time_start))
train_plan['loco'] = train_plan.train_time.map(loco_plan.drop_duplicates('train_time').set_index('train_time').loco)
train_plan['route'] = train_plan.train.map(rs.set_index('train').route)
train_plan['tt'] = train_plan.train.map(rs.set_index('train').tt)
train_plan['dist'] = train_plan.train.map(rs.set_index('train').dist)
cols = ['train','weight', 'st_from_name', 'st_to_name', 'time_start_norm', 'loco', 'route', 'tt', 'dist']
no_loco = train_plan[(train_plan.time_start < current_time + 24 * 3600) & (train_plan.loco.isnull())]
no_loco.drop_duplicates('train').st_from_name.value_counts().head(10)

Jul 22, 14:40

БИРА                                  84
ВОЛОЧАЕВКА I                          55
ТАЙШЕТ                                19
ТЫНДА                                 16
КОМСОМОЛЬСК-НА-АМУРЕ-СОРТИРОВОЧНЫЙ    14
ФЕВРАЛЬСК                             14
ТАКСИМО                               13
МАРИИНСК                              13
ЗАБАЙКАЛЬСК                           12
ОБЛУЧЬЕ                               11
Name: st_from_name, dtype: int64

In [552]:
st_name = 'КАРЫМСКАЯ'
tr = no_loco.drop_duplicates('train')
cols = ['train','weight', 'st_from_name', 'st_to_name', 'time_start_norm', 'loco', 'route']
print(tr[tr.st_from_name == st_name].sort_values('time_start')[cols].to_string(index=False))

        train  weight st_from_name st_to_name time_start_norm loco                route
 200021359367       0    КАРЫМСКАЯ     ЧИТА I   Jul 22, 07:05  NaN  (КАРЫМСКАЯ, ЧИТА I)

In [553]:
loco_cols = ['loco', 'regions', 'ser_name', 'sections', 'loc_name', 'oper_time_f', 'first_train', 'tts', 'dts']
loco_info['ser_name'] = loco_info.series.map(loco_series.set_index('ser_id').ser_name)
loco_info['oper_time_f'] = loco_info.oper_time.map(nice_time)
loco_starts = loco_plan.drop_duplicates('loco').set_index('loco')
loco_info['first_train'] = loco_info.loco.map(loco_starts.train)
with pd.option_context('display.max_colwidth', 30):
    print(loco_info[loco_info.loc_name == st_name][loco_cols].to_string(index=False))

         loco                        regions ser_name  sections   loc_name    oper_time_f     first_train     tts     dts
 200200083577                 ['2002119299']    ВЛ80Р         3  КАРЫМСКАЯ  Jul 22, 13:51  88880013664307  342000     920
 200200090201   ['2002119294', '2002119320']    2ЭС5К         4  КАРЫМСКАЯ  Jul 22, 13:46  88880013444888   90000  999999
 200200105151                 ['2002119294']    3ЭС5К         3  КАРЫМСКАЯ  Jul 22, 07:59    200020753480  432000    4000
 200200103448   ['2002119294', '2002119299']    3ЭС5К         3  КАРЫМСКАЯ  Jul 22, 14:00  88880013344415  424800  999999
 200200084153                 ['2002119299']    ВЛ80Р         3  КАРЫМСКАЯ  Jul 22, 01:11    230200034040  327600    3138
 200200094891   ['2002119294', '2002119299']    3ЭС5К         3  КАРЫМСКАЯ  Jul 22, 14:06  88880002164575   64800  999999
 200200046737                 ['2002119288']   2ТЭ10М         2  КАРЫМСКАЯ  Jul 22, 10:16  88880005614792  273600  999999
 200200079286   ['2002119294', '2002119299']    3ЭС5К         3  КАРЫМСКАЯ  Jul 22, 14:15    220209590963  428400    9244
 200200078810                 ['2002119299']    ВЛ80Р         3  КАРЫМСКАЯ  Jul 22, 13:51  88880001174813   18000     882
 200200100808                 ['2002119299']    ВЛ80Р         3  КАРЫМСКАЯ  Jul 22, 12:56    220209631300  147600    2086
 200200038450  ['2002119320', '2002119294...    2ЭС5К         4  КАРЫМСКАЯ  Jul 22, 12:30    220209867626  410400    4000
 200200096438                 ['2002119299']     ВЛ85         2  КАРЫМСКАЯ  Jul 22, 14:19  88880001174833    7200    1592
 200200092031                 ['2002119294']    2ЭС5К         2  КАРЫМСКАЯ  Jul 22, 14:30    200020685451  432000    4000
 200200090492                 ['2002119299']     ВЛ85         2  КАРЫМСКАЯ  Jul 22, 11:34             NaN  999999      23
 200200042065                 ['2002119299']    ВЛ80Р         3  КАРЫМСКАЯ  Jul 22, 13:23    200020561517  342000    3249
 200200098841                 ['2002119299']     ВЛ85         2  КАРЫМСКАЯ  Jul 22, 12:16  88880012944235  118800    1480
 200200082868   ['2002119294', '2002119299']    3ЭС5К         3  КАРЫМСКАЯ  Jul 22, 12:54  88880002164587  108000    8437
 200200086141                 ['2002119299']     ВЛ85         2  КАРЫМСКАЯ  Jul 22, 13:46  88880002164595   28800    1016
 200200091602   ['2002119294', '2002119299']    3ЭС5К         3  КАРЫМСКАЯ  Jul 22, 13:04  88880013964531  432000   24560
 200020650744  ['2002119299', '2002119294...    3ЭС5К         3  КАРЫМСКАЯ  Jul 22, 14:05    220209800536  360000    3898
 200200045776                 ['2002119299']     ВЛ85         2  КАРЫМСКАЯ  Jul 22, 00:40  88880013704525  345600    3250
 200203811953                 ['2002119299']    ВЛ80С         4  КАРЫМСКАЯ  Jul 22, 14:40  88880013344443   46800     673
 200200050186                 ['2002119299']     ВЛ85         2  КАРЫМСКАЯ  Jul 22, 12:06  88880013664313  999999    1056
 200200047841   ['2002119294', '2002119299']    3ЭС5К         3  КАРЫМСКАЯ  Jul 22, 14:38    220211773322  428400   27019
 200200102527   ['2002119294', '2002119299']    3ЭС5К         3  КАРЫМСКАЯ  Jul 22, 12:37  88880013704522  432000   46161
 200200087109   ['2002119294', '2002119299']    3ЭС5К         3  КАРЫМСКАЯ  Jul 22, 13:16    220211721110  136800   16406
 200200092678   ['2002119294', '2002119299']      ЭП1         1  КАРЫМСКАЯ  Jul 22, 12:00             NaN  158400   23213
 200200080391   ['2002119294', '2002119299']   ТЭМ18Д         1  КАРЫМСКАЯ  Jul 22, 14:00             NaN    7200  999999

In [554]:
loco_plan['ser_name'] = loco_plan.series.map(loco_series.set_index('ser_id').ser_name)
loco_plan['loco_end'] = loco_plan.loco != loco_plan.loco.shift(-1)
loco_plan['next_train'] = loco_plan.train.shift(-1)
loco_plan.loc[loco_plan.loco_end == True, 'next_train'] = -1
loco_ends = loco_plan.drop_duplicates(subset=['loco', 'train'], keep='last')
loco_cols = ['loco', 'regions', 'ltype', 'ser_name', 'sections', 'train', 'time_end_norm', 'next_train', 'tts', 'dts']
loco_ends[(loco_ends.st_to_name == st_name)
         & (loco_ends.time_end < current_time + 24 * 3600)
         & (loco_ends.ltype == 1)
         & (loco_ends.next_train == -1)].sort_values('time_end')[loco_cols]

               loco                                     regions  ltype ser_name  sections         train  time_end_norm next_train     tts     dts
55134  200200106181                ['2002119301', '2002119299']      1    2ЭС5К         4  220209867626  Jul 22, 09:47         -1  219600    2056
50018  200200081388                              ['2002119294']      1    3ЭС5К         3  200020338131  Jul 22, 16:40         -1  162000     255
8974   200200097727                              ['2002119299']      1    ВЛ80Р         3  220211846119  Jul 22, 17:34         -1  999999      51
4318   200200089658                              ['2002119294']      1    3ЭС5К         3  220211632278  Jul 22, 18:41         -1  999999     791
6038   200200047221                              ['2002119294']      1    3ЭС5К         3  220211755551  Jul 22, 19:29         -1   90000    2019
38170  200200084068                ['2002119301', '2002119299']      1    2ЭС5К         4  230200205473  Jul 22, 21:07         -1  158400     903
29406  200200107673                              ['2002119294']      1    3ЭС5К         3  220212065227  Jul 23, 00:26         -1  172800    1495
22404  200200139217                              ['2002119294']      1    3ЭС5К         3  200020354565  Jul 23, 00:47         -1  180000    1496
13947  200200096030                              ['2002119294']      1    3ЭС5К         3  200020481680  Jul 23, 01:07         -1  194400   46602
19872  200200095906                              ['2002119294']      1    3ЭС5К         3  220211831268  Jul 23, 02:30         -1  144000   18438
35303  200200034232                              ['2002119294']      1    3ЭС5К         3  200020496519  Jul 23, 02:49         -1  194400    2124
50947  200200089060                              ['2002119294']      1    3ЭС5К         3  200020561341  Jul 23, 03:20         -1  212400    2361
23437  200200082928                              ['2002119294']      1    3ЭС5К         3  200020502493  Jul 23, 04:35         -1  183600    2121
50997  200200085173                              ['2002119294']      1    3ЭС5К         3  220212034912  Jul 23, 04:55         -1  136800    2437
19201  200200100182                              ['2002119294']      1    3ЭС5К         3  220211824158  Jul 23, 05:25         -1  999999     875
11519  200200044370                              ['2002119294']      1    3ЭС5К         3  220211814193  Jul 23, 05:42         -1  241200    2107
13165  200200101778                              ['2002119294']      1    3ЭС5К         3  200020354567  Jul 23, 07:50         -1  194400    2558
7731   200200097571                              ['2002119294']      1    3ЭС5К         3  200020512118  Jul 23, 08:20         -1  198000   14170
41409  200200068517                              ['2002119299']      1    ВЛ80Р         2  200020439418  Jul 23, 08:31         -1  147600    1298
31976  200200087630                              ['2002119294']      1    3ЭС5К         3  220212031266  Jul 23, 08:44         -1  144000    2342
41692  200200072953                              ['2002119299']      1    ВЛ80Р         3  220211691863  Jul 23, 09:12         -1  100800     522
48654  200200088623                              ['2002119294']      1    ВЛ80С         3  200020439408  Jul 23, 09:52         -1  133200   20899
59545  200200102027                              ['2002119294']      1    3ЭС5К         3  200020562030  Jul 23, 11:57         -1  208800    2342
10648  200200104985                ['2002119301', '2002119299']      1    2ЭС5К         4  220212080363  Jul 23, 12:57         -1  201600    1304
29830  200200092146                              ['2002119294']      1    3ЭС5К         3  200020354667  Jul 23, 12:59         -1  176400    2379
40433  200200099503                              ['2002119294']      1    3ЭС5К         3  220211989391  Jul 23, 13:19         -1  216000   45858
10807  200200031352                              ['2002119294']      1    3ЭС5К         3  200020600201  Jul 23, 13:34         -1  226800  999999
10699  200200090207  ['2002119320', '2002119294', '2002119312']      1    2ЭС5К         4  200020891413  Jul 23, 14:24         -1  237600    2653

In [555]:
loco_cols = ['loco', 'st_from_name', 'st_to_name', 'time_start_norm', 'time_end_norm', 'train']
loco_plan[loco_plan.loco == '200200094024'][loco_cols]

               loco           st_from_name            st_to_name time_start_norm  time_end_norm           train
49027  200200094024         ЧЕРНОРЕЧЕНСКАЯ                 БУГАЧ   Jul 22, 12:30  Jul 22, 15:17    200020959409
49028  200200094024                  БУГАЧ   КРАСНОЯРСК-СЕВЕРНЫЙ   Jul 22, 15:17  Jul 22, 15:39    200020959409
49029  200200094024    КРАСНОЯРСК-СЕВЕРНЫЙ  КРАСНОЯРСК-ВОСТОЧНЫЙ   Jul 22, 15:39  Jul 22, 15:50    200020959409
49030  200200094024   КРАСНОЯРСК-ВОСТОЧНЫЙ                ЗЫКОВО   Jul 22, 18:15  Jul 22, 18:24    200020959409
49031  200200094024                 ЗЫКОВО                   УЯР   Jul 22, 18:24  Jul 22, 20:18    200020959409
49032  200200094024                    УЯР             ЗАОЗЕРНАЯ   Jul 22, 20:18  Jul 22, 20:55    200020959409
49033  200200094024              ЗАОЗЕРНАЯ              ИЛАНСКАЯ   Jul 22, 20:55  Jul 22, 22:48    200020959409
49034  200200094024               ИЛАНСКАЯ                РЕШОТЫ   Jul 22, 22:48  Jul 23, 00:09    200020959409
49035  200200094024                 РЕШОТЫ                 КЛЮЧИ   Jul 23, 00:09  Jul 23, 00:26    200020959409
49036  200200094024                  КЛЮЧИ                  ЮРТЫ   Jul 23, 00:26  Jul 23, 00:50    200020959409
49037  200200094024                   ЮРТЫ                ТАЙШЕТ   Jul 23, 00:50  Jul 23, 01:17    200020959409
49038  200200094024                 ТАЙШЕТ            БАЙРОНОВКА   Jul 23, 01:17  Jul 23, 01:33    200020959409
49039  200200094024             БАЙРОНОВКА               АЛЗАМАЙ   Jul 23, 01:33  Jul 23, 02:25    200020959409
49040  200200094024                АЛЗАМАЙ           НИЖНЕУДИНСК   Jul 23, 02:25  Jul 23, 04:06    200020959409
49041  200200094024            НИЖНЕУДИНСК                УДА II   Jul 23, 06:35  Jul 23, 06:42    200020959409
49042  200200094024                 УДА II                 ТУЛУН   Jul 23, 06:42  Jul 23, 08:38    200020959409
49043  200200094024                  ТУЛУН                  АЗЕЙ   Jul 23, 08:38  Jul 23, 09:08    200020959409
49044  200200094024                   АЗЕЙ                КУЙТУН   Jul 23, 09:08  Jul 23, 10:21    200020959409
49045  200200094024                 КУЙТУН               ПЕРЕВОЗ   Jul 23, 10:21  Jul 23, 11:12    200020959409
49046  200200094024                ПЕРЕВОЗ                  ЗИМА   Jul 23, 11:12  Jul 23, 11:24    200020959409
49047  200200094024                   ЗИМА                ЗАЛАРИ   Jul 23, 11:24  Jul 23, 12:23    200020959409
49048  200200094024                 ЗАЛАРИ             ЧЕРЕМХОВО   Jul 23, 12:23  Jul 23, 13:48    200020959409
49049  200200094024              ЧЕРЕМХОВО            КАСЬЯНОВКА   Jul 23, 13:48  Jul 23, 14:05    200020959409
49050  200200094024             КАСЬЯНОВКА                МАЛЬТА   Jul 23, 14:05  Jul 23, 14:49    200020959409
49051  200200094024                 МАЛЬТА                 КИТОЙ   Jul 23, 14:49  Jul 23, 15:22    200020959409
...             ...                    ...                   ...             ...            ...             ...
49057  200200094024  ИРКУТСК-СОРТИРОВОЧНЫЙ             ГОНЧАРОВО   Jul 23, 22:20  Jul 23, 22:44    200020959409
49058  200200094024              ГОНЧАРОВО           БОЛЬШОЙ ЛУГ   Jul 23, 22:44  Jul 23, 23:11    200020959409
49059  200200094024            БОЛЬШОЙ ЛУГ         АНДРИАНОВСКАЯ   Jul 23, 23:11  Jul 24, 00:11    200020959409
49060  200200094024          АНДРИАНОВСКАЯ             АНГАСОЛКА   Jul 24, 00:11  Jul 24, 00:25    200020959409
49061  200200094024              АНГАСОЛКА           СЛЮДЯНКА II   Jul 24, 00:25  Jul 24, 00:51    200020959409
49062  200200094024            СЛЮДЯНКА II            СЛЮДЯНКА I   Jul 24, 00:51  Jul 24, 00:57    200020959409
49063  200200094024             СЛЮДЯНКА I             БАЙКАЛЬСК   Jul 24, 00:57  Jul 24, 01:41    200020959409
49064  200200094024              БАЙКАЛЬСК               МЫСОВАЯ   Jul 24, 01:41  Jul 24, 03:48    200020959409
49065  200200094024                МЫСОВАЯ              УЛАН-УДЭ   Jul 24, 03:48  Jul 24, 06:27    200020959409
49066  200200094024               УЛАН-УДЭ            ЗАУДИНСКИЙ   Jul 24, 08:30  Jul 24, 08:38    200020959409
49067  200200094024             ЗАУДИНСКИЙ                ТАЛЬЦЫ   Jul 24, 08:38  Jul 24, 08:47    200020959409
49068  200200094024                 ТАЛЬЦЫ               ЧЕЛУТАЙ   Jul 24, 08:47  Jul 24, 09:41    200020959409
49069  200200094024                ЧЕЛУТАЙ                ГОРХОН   Jul 24, 09:41  Jul 24, 10:45    200020959409
49070  200200094024                 ГОРХОН                  КИЖА   Jul 24, 10:45  Jul 24, 11:21    200020959409
49071  200200094024                   КИЖА      ПЕТРОВСКИЙ ЗАВОД   Jul 24, 11:21  Jul 24, 12:00    200020959409
49072  200200094024       ПЕТРОВСКИЙ ЗАВОД              ЖИПХЕГЕН   Jul 24, 12:00  Jul 24, 14:20    200020959409
49073  200200094024               ЖИПХЕГЕН                 ХИЛОК   Jul 24, 14:20  Jul 24, 14:53    200020959409
49074  200200094024                  ХИЛОК                МОГЗОН   Jul 24, 15:09  Jul 24, 17:35    200020959409
49075  200200094024                 МОГЗОН              ТУРГУТУЙ   Jul 24, 17:35  Jul 24, 18:38    200020959409
49076  200200094024               ТУРГУТУЙ                ЛЕСНАЯ   Jul 24, 18:38  Jul 24, 19:31    200020959409
49077  200200094024                 ЛЕСНАЯ                КАДАЛА   Jul 24, 19:31  Jul 24, 20:40    200020959409
49078  200200094024                 КАДАЛА                ЧИТА I   Jul 24, 20:40  Jul 24, 20:50    200020959409
49079  200200094024                 ЧИТА I             КАРЫМСКАЯ   Jul 24, 20:50  Jul 24, 22:47    200020959409
49080  200200094024              КАРЫМСКАЯ                ЧИТА I   Jul 24, 09:48  Jul 24, 11:44  88880013664305
49081  200200094024                 ЧИТА I             КАРЫМСКАЯ   Jul 24, 12:35  Jul 24, 14:32    200021148043

[55 rows x 6 columns]

In [556]:
loco_cols = ['loco', 'st_from_name', 'st_to_name', 'time_start_norm', 'train', 'all_trains']
loco_plan['all_trains'] = loco_plan.loco.map(loco_plan.groupby('loco').train.unique())
a = loco_plan.drop_duplicates(['loco', 'train'])
b = a[(a.time_start < current_time + 24 * 3600) 
    & (a.state == 0) & (a.st_from_name == st_name)][loco_cols]

In [557]:
def is_useful(train, all_trains):
    if train == all_trains[-1]:
        return False
    else:
        i = list(all_trains).index(train)
        next_tr = all_trains[i + 1]
        if next_tr[0] in ['2', '9']:
            return True
        else:
            return False

#b['is_last'] = b[['train', 'all_trains']].apply(lambda row: row.all_trains[-1] == row.train, axis=1)
b['is_useful'] = b[['train', 'all_trains']].apply(lambda row: is_useful(row.train, row.all_trains), axis=1)
b[b.is_useful == False].st_to_name.value_counts()

ЧИТА I     25
ТАРСКАЯ     4
Name: st_to_name, dtype: int64

In [558]:
routes['link_name'] = list(zip(routes.st_from_name, routes.st_to_name))
a = routes[routes.train == '200020313247'].link_name.unique()

In [559]:
loco_tonnage = pd.read_csv(FOLDER + 'loco_tonnage.csv', dtype={'st_from':str, 'st_to':str})
add_info(loco_tonnage)
loco_tonnage['link_name'] = list(zip(loco_tonnage.st_from_name, loco_tonnage.st_to_name))
b = loco_tonnage[loco_tonnage.link_name.isin(a)]

In [560]:
loco_tonnage['ser_name'] = loco_tonnage.series.map(loco_series.set_index('ser_id').ser_name)
loco_tonnage.dropna(subset=['st_from_name', 'st_to_name'], how='any', inplace=True)
b = loco_tonnage.groupby(['link_name', 'ser_name', 'sections']).max_weight.unique().reset_index()
b['ln_cat'] = pd.Categorical(b.link_name, categories=a, ordered=True)
c = b[(b.ln_cat.notnull()) & b.ser_name.apply(lambda x: ('ВЛ8' in x) | ('ЭС5К' in x))].sort_values('ln_cat')

In [561]:
c['very_max'] = c.max_weight.apply(lambda x: x.max())
c[c.very_max > 6000].sort_values(['ln_cat', 'very_max'])

Empty DataFrame
Columns: [link_name, ser_name, sections, max_weight, ln_cat, very_max]
Index: []

1. Тайшет-Зима-Китой: 6300 только для ВЛ80Р
2. Большой Луг-Андриановская, Андриановская-Ангасолка: заданы нормы только для тепловозов и ВЛ60.

In [562]:
cols = ['link_name', 'ser_name', 'sections', 'max_weight']
loco_tonnage[(loco_tonnage.st_from_name == 'Андриановская'.upper()) & (loco_tonnage.st_to_name == 'Ангасолка'.upper())]\
    .sort_values('ser_name')[cols]

                       link_name ser_name  sections  max_weight
4757  (АНДРИАНОВСКАЯ, АНГАСОЛКА)   2ТЭ10В         2        1800
4756  (АНДРИАНОВСКАЯ, АНГАСОЛКА)  2ТЭ10ВК         2        1800
4763  (АНДРИАНОВСКАЯ, АНГАСОЛКА)   2ТЭ10Л         2        1800
4762  (АНДРИАНОВСКАЯ, АНГАСОЛКА)   2ТЭ10М         2        1800
4764  (АНДРИАНОВСКАЯ, АНГАСОЛКА)  2ТЭ10МК         2        1800
4777  (АНДРИАНОВСКАЯ, АНГАСОЛКА)   2ТЭ10С         2        1800
4770  (АНДРИАНОВСКАЯ, АНГАСОЛКА)   2ТЭ10Т         1        1800
4771  (АНДРИАНОВСКАЯ, АНГАСОЛКА)   2ТЭ10У         2        1800
4772  (АНДРИАНОВСКАЯ, АНГАСОЛКА)  2ТЭ10УК         2        1800
4773  (АНДРИАНОВСКАЯ, АНГАСОЛКА)  2ТЭ10УТ         2        1800
4759  (АНДРИАНОВСКАЯ, АНГАСОЛКА)   3ТЭ10М         3        2400
4761  (АНДРИАНОВСКАЯ, АНГАСОЛКА)  3ТЭ10МК         3        2400
4758  (АНДРИАНОВСКАЯ, АНГАСОЛКА)   3ТЭ10У         3        2400
4769  (АНДРИАНОВСКАЯ, АНГАСОЛКА)  3ТЭ10УК         3        2400
4755  (АНДРИАНОВСКАЯ, АНГАСОЛКА)    ВЛ60К         1        1000
4754  (АНДРИАНОВСКАЯ, АНГАСОЛКА)   ВЛ60ПК         1        1000
4768  (АНДРИАНОВСКАЯ, АНГАСОЛКА)    ТЭМ18         1         350
4766  (АНДРИАНОВСКАЯ, АНГАСОЛКА)   ТЭМ18Г         1         350
4775  (АНДРИАНОВСКАЯ, АНГАСОЛКА)   ТЭМ18Д         1         350
4776  (АНДРИАНОВСКАЯ, АНГАСОЛКА)  ТЭМ18ДМ         1         350
4767  (АНДРИАНОВСКАЯ, АНГАСОЛКА)     ТЭМ2         1         350
4774  (АНДРИАНОВСКАЯ, АНГАСОЛКА)     ТЭМ7         1         500
4760  (АНДРИАНОВСКАЯ, АНГАСОЛКА)      Э5К         1        1000
4765  (АНДРИАНОВСКАЯ, АНГАСОЛКА)      NaN         1         350

In [563]:
prst = pd.read_csv(FOLDER + 'mandatory/priority_team_change_stations.csv', sep=';')
prst['nearest'] = prst.name.apply(lambda x: all_lengths[all_lengths > 0].ix[x].tt.min())
prst.nearest.mean()

3160.690909090909

In [564]:
team_region = pd.read_csv(FOLDER + 'team_region.csv')
team_region.time_f.mean() / 3600 - 2

nan

### Поезда, которые по номеру являются локомотивами резервом, но индекс начинается не с 0001

In [565]:
train_info['oper_time_f'] = train_info.oper_time.apply(nice_time)
train_info['ind_start'] = train_info.ind434.apply(lambda x: x[:4])
train_info['loco'] = train_info.train.map(loco_info.groupby('train').loco.unique())
train_info['lstate'] = train_info.train.map(loco_info.groupby('train').state.unique())
train_info['lstate'] = train_info.lstate.apply(lambda x: x if np.isnan(x) else x[0])
train_info['loco'] = train_info.loco.apply(lambda x: x if type(x) == float else (x[0] if len(x) == 1 else x))
train_info['in_plan'] = train_info.train.isin(train_plan.train)
train_info['loco_p'] = train_info.train.map(loco_plan.sort_values('time_start').drop_duplicates('train').set_index('train').loco)

In [566]:
cols = ['train', 'number', 'ind434', 'loc_name', 'loco', 'ltype', 'lstate', 'loco_p']
train_res = train_info[(train_info.number >= 4000) 
                       & (train_info.number < 5000)]
train_res['ltype'] = train_res.loco.map(loco_info.set_index('loco').ltype)
#nice_print(train_res[train_res.ind_start != '0001'].sort_values('number')[cols], num=True)
#nice_print(train_res[train_res.in_plan == False][cols], num=True)
nice_print(train_res[train_res.loco_p.isnull()].sort_values('number')[cols], num=True)
#nice_print(train_res[cols], num=True)

           train  number         ind434                                    loc_name          loco  ltype  lstate loco_p
0   200200717842    4202  0001-572-2387                      НОВАЯ ЧАРА - ИКАБЬЯКАН  200200103583      1       1    NaN
1   200021410010    4301  9043-877-9044                        НОВАЯ ЧАРА - СЮЛЬБАН  200200051501      0       1    NaN
2   200021413699    4302  0001-663-9369                       ЗАУДИНСКИЙ - ЗАГУСТАЙ  200200062130      0       1    NaN
3   200021437598    4304  0001-005-9423                          ЧИТА I - КАРЫМСКАЯ  200200053446      0       1    NaN
4   200021317546    4401  0001-937-9700                       БИКИН - РОЗЕНГАРТОВКА  200200075015      1       1    NaN
5   200021350636    4402  0001-601-9171                     ФЕВРАЛЬСК - НОВЫЙ УРГАЛ  200200041865      0       1    NaN
6   200021351279    4403  9875-929-9883                        ГВОЗДЕВО - СУХАНОВКА  200200053764      0       1    NaN
7   200021437327    4405  0001-689-9047                             ТЫНДА - КУВЫКТА  200211339255      1       1    NaN
8   200021148051    4701  0001-397-9196            КОМСОМОЛЬСК-НА-АМУРЕ II - ЭВОРОН  200200057938      0       1    NaN
9   200021433112    4701  0001-065-9748                     НОВОЧУГУЕВКА - АРСЕНЬЕВ  200200046882      0       1    NaN
10  200021011747    4701  0001-901-9406                            ХИЛОК - ЖИПХЕГЕН  200200105097      0       1    NaN
11  200021434269    4701  9379-815-9376                            ЧЕЛУТАЙ - ТАЛЬЦЫ  200200073429      0       1    NaN
12  200021345917    4701  0001-314-9409                             КАДАЛА - ЛЕСНАЯ  200200053020      0       1    NaN
13  200021304625    4702  0001-014-9508                        КСЕНЬЕВСКАЯ - МОГОЧА  200200028835      0       1    NaN
14  200021436017    4702  0001-058-9616                       ОБЛУЧЬЕ - ИЗВЕСТКОВАЯ  200200031759      0       1    NaN
15  200021422996    4703  8901-104-8918              КРАСНОЯРСК-ВОСТОЧНЫЙ - БАЗАИХА  200200078981      0       1    NaN
16  200201682655    4703  0001-123-8649                     БИСКАМЖА - МЕЖДУРЕЧЕНСК  200200030056      0       1    NaN
17  200021414237    4703  0001-837-9261                    УСТЬ-ИЛИМСК - ДИАБАЗОВЫЙ  200200053649      0       1    NaN
18  200021296013    4703  0001-006-9377                            ЧЕЛУТАЙ - ТАЛЬЦЫ  200200065803      0       1    NaN
19  200021391151    4704  0001-079-9506                        ЗИЛОВО - КСЕНЬЕВСКАЯ  200200068030      0       1    NaN
20  200021395308    4704  0001-704-8866                     МЕЖДУРЕЧЕНСК - БИСКАМЖА  200200035881      0       1    NaN
21  200021434271    4704  9433-713-9439                      АДРИАНОВКА - БУРЯТСКАЯ  200200094192      0       1    NaN
22  200200854982    4705  0001-122-8864                     БИСКАМЖА - МЕЖДУРЕЧЕНСК  200200041937      0       1    NaN
23  200021420682    4705  0001-663-9354                          УЛАН-УДЭ - МЫСОВАЯ  200200041199      0       1    NaN
24  200021406297    4706  0001-351-9496          ЧЕРНЫШЕВСК-ЗАБАЙКАЛЬСКИЙ - ЖИРЕКЕН  200200061790      0       1    NaN
25  200021458536    4708  0001-569-9111                        БЕСТУЖЕВО - БЕРКАКИТ  200200071703      0       1    NaN
26  200205805730    4710  0001-067-9501                    БЕЛОГОРСК - БЕЛОГОРСК II  200200029657      0       1    NaN
27  200021437333    4781  0001-942-8909  КРАСНОЯРСК-ВОСТОЧНЫЙ - КРАСНОЯРСК-СЕВЕРНЫЙ  200200106445      0       1    NaN
28  200021305964    4801  9883-995-9892                               ВОЗДВИЖЕНСКИЙ           NaN    NaN     NaN    NaN
29  200021447590    4801  9870-432-9875                                       ХАСАН           NaN    NaN     NaN    NaN
30  200021468214    4802  0001-858-9322                             КИТОЙ - АНГАРСК  200200048679      1       1    NaN
31  200021386655    4881  0001-200-9769                     ДУБИНИНСКИЙ - СИБИРЦЕВО  200200071217      0       1    NaN
32  200021447692    4881  8893-945-8891                        ИРБЕЙСКАЯ - САЯНСКАЯ  200200047556      0       1    NaN
33  200021350147    4881  0001-022-8935                        ИЛАНСКАЯ - ЗАОЗЕРНАЯ  200200080121      0       1    NaN
34  200021423002    4881  0001-123-9324                           МЕГЕТ - СУХОВСКАЯ  200200105142      0       1    NaN
35  200021387390    4881  9047-767-9046                             ЮКТАЛИ - ОЛЕКМА  200200071520      0       1    NaN
36  200021332583    4881  9317-210-9315                         МАЛЬТА - КАСЬЯНОВКА  200200064439      0       1    NaN
37  200021453790    4881  0001-258-9318                          БАТАРЕЙНАЯ - МЕГЕТ  200200030040      0       1    NaN
38  210211331645    4881  0001-010-9309                      КАСЬЯНОВКА - ЧЕРЕМХОВО  200200077231      0       1    NaN
39  200021393604    4881  9655-291-9651                             МЫЛКИ - СЕЛЬГОН  200200041721      0       1    NaN
40  200021126176    4882  0001-144-9403                 ПЕТРОВСКИЙ ЗАВОД - ЖИПХЕГЕН  200200105940      0       1    NaN
41  200021459123    4882  0001-212-9745                  СПАССК-ДАЛЬНИЙ - СИБИРЦЕВО  200200062156      0       1    NaN
42  200021421889    4882  9212-024-9215                        НИЖНЕУДИНСК - УДА II  200200072369      0       1    NaN
43  200021440168    4882  0001-679-9552                      БЕЛОГОРСК II - ЗАВИТАЯ  200200072872      0       1    NaN
44  210202755627    4882  0001-938-9808                     ВТОРАЯ РЕЧКА - ГАЙДАМАК  200207612070      0       1    NaN
45  200211224805    4882  0001-022-8958                           ЧУНОЯР - КАРАБУЛА  200200062127      0       1    NaN
46  200021425107    4882  0001-101-8904                      ЧЕРНОРЕЧЕНСКАЯ - БУГАЧ  200200079215      0       1    NaN
47  200021447632    4882  9625-579-9628                                        БИРА           NaN    NaN     NaN    NaN
48  200021379709    4882  9713-076-9715                      КРУГЛИКОВО - ВЯЗЕМСКАЯ  200200077925      0       1    NaN
49  200021470332    4882  0001-755-9300                         КАСЬЯНОВКА - МАЛЬТА  200200029849      0       1    NaN
50  200021327079    4882  9563-534-9565                       БУРЕЯ - ХОЛОДНЫЙ КЛЮЧ  200200074186      0       1    NaN
51  200021382274    4882  8951-448-8953                    НОВОБИРЮСИНСКАЯ - ЧУНОЯР  200200092455      0       1    NaN
52  200021470262    4882  0001-859-9322                             КИТОЙ - АНГАРСК  200200079137      0       1    NaN
53  200021451733    4882  0001-178-9879                      ПРИМОРСКАЯ - БАМБУРОВО  200200075944      0       1    NaN
54  200021390442    4883  0001-123-8806                          БОГОТОЛ - МАРИИНСК  200200061296      0       1    NaN
55  200021476561    4883  0001-306-9309                      КАСЬЯНОВКА - ЧЕРЕМХОВО  200200081344      0       1    NaN
56  200021379860    4883  0001-123-9354                          УЛАН-УДЭ - МЫСОВАЯ  200200076003      0       1    NaN
57  200021420698    4883  0001-022-8953                    ЧУНОЯР - НОВОБИРЮСИНСКАЯ  200200074082      0       1    NaN
58  200021455393    4884  0001-116-9358                       ЗАУДИНСКИЙ - ЗАГУСТАЙ  200200031258      0       1    NaN
59  200021465832    4884  0001-111-9748                  СПАССК-ДАЛЬНИЙ - СИБИРЦЕВО  200200059412      0       1    NaN
60  200021422927    4884  9251-033-9253        ГИДРОСТРОИТЕЛЬ - КОРШУНИХА-АНГАРСКАЯ  200200059024      0       1    NaN
61  200021479352    4885  0001-222-8884                         БОЛЬШАЯ ИРБА - ИРБА  200200077559      0       1    NaN
62  200021478057    4885  0001-145-9458                   КРАСНОКАМЕНСК - УРУЛЮНГУЙ  200200069048      0       1    NaN
63  200021104474    4886  9400-185-9431                          ЧИТА I - КАРЫМСКАЯ  200200065630      0       1    NaN
64  200021380173    4886  9533-393-9537                         ЛЕДЯНАЯ - БЕЛОГОРСК  200200105085      0       1    NaN
65  200021439692    4887  0001-395-9354                          УЛАН-УДЭ - МЫСОВАЯ  200200045634      0       1    NaN
66  200021477650    4894  0001-022-8842                             ШАРЫПОВО - ШУШЬ  200200032177      0       1    NaN
67  200021447654    4904  0001-395-9377                       УЛАН-УДЭ - ЗАУДИНСКИЙ  200200053718      0       1    NaN
68  200021447598    4992  0001-241-9508                     ЕРОФЕЙ ПАВЛОВИЧ - УРУША  200200059076      0       1    NaN

C:\Users\oracle\Anaconda3\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [567]:
#pd.set_option('display.width', 500)
print(train_res[cols].ltype.value_counts())
train_res[(train_res.ltype == 1) & (train_res.loco == train_res.loco_p)][cols].head()

0    71
1    59
Name: ltype, dtype: int64

            train  number         ind434                     loc_name          loco  ltype  lstate        loco_p
37   200021465840    4041  0001-118-9330     СЛЮДЯНКА I - СЛЮДЯНКА II  200200032959      1       1  200200032959
118  200021427967    4029  0001-230-9330  АНДРИАНОВСКАЯ - БОЛЬШОЙ ЛУГ  200200092725      1       1  200200092725
183  200021436029    4402  0001-258-9047                ХАНИ - ОЛЕКМА  200200097942      1       1  200200097942
184  200021447604    4033  0001-893-9330  АНДРИАНОВСКАЯ - БОЛЬШОЙ ЛУГ  200200103181      1       1  200200103181
244  200021407098    4403  9769-043-9737    СПАССК-ДАЛЬНИЙ - ШМАКОВКА  200200101092      1       1  200200101092

In [568]:
cols = ['loco', 'ltype', 'oper_time_f', 'loc_name', 'train', 'train_number', 'state']
loco_info['train_number'] = loco_info.train.map(train_info.set_index('train').number)
nice_print(loco_info[(loco_info.ltype == 0) 
                      & (loco_info.train == '-1')                     
                      & (loco_info.st_from == '-1')].sort_values('train_number')[cols])

         loco  ltype    oper_time_f                            loc_name train  train_number  state
 200200095345      0  Jul 22, 12:20                              ЧУНОЯР    -1           NaN     -1
 200200073016      0  Jul 22, 12:59                      СПАССК-ДАЛЬНИЙ    -1           NaN     -1
 200200028694      0  Jul 21, 21:58                         ИЗВЕСТКОВАЯ    -1           NaN     -1
 200200096339      0  Jul 22, 03:22                        ХАБАРОВСК II    -1           NaN     -1
 200200088604      0  Jul 22, 13:18                                 NaN    -1           NaN     -1
 200200063550      0  Jul 22, 12:40                           СИБИРЦЕВО    -1           NaN     -1
 200200043190      0  Jul 22, 13:41                     ЕРОФЕЙ ПАВЛОВИЧ    -1           NaN     -1
 200200091223      0  Jul 22, 14:37                              ТАЙШЕТ    -1           NaN     -1
 200200069558      0  Jul 22, 14:00                              ДЗЕМГИ    -1           NaN     -1
 200200070414      0  Jul 22, 14:01                              ДЗЕМГИ    -1           NaN     -1
 200200054041      0  Jul 22, 14:42                            ИЛАНСКАЯ    -1           NaN     -1
 200200061075      0  Jul 22, 13:04                          КРАСНОЯРСК    -1           NaN     -1
 200200047811      0  Jul 22, 01:00                             ГУРСКОЕ    -1           NaN     -1
 200200050028      0  Jul 22, 04:55                                 УЯР    -1           NaN     -1
 200200086201      0  Jul 22, 01:45  КОМСОМОЛЬСК-НА-АМУРЕ-СОРТИРОВОЧНЫЙ    -1           NaN     -1
 200200061185      0  Jul 22, 12:45  КОМСОМОЛЬСК-НА-АМУРЕ-СОРТИРОВОЧНЫЙ    -1           NaN     -1
 200200084964      0  Jul 22, 10:38                             ОБЛУЧЬЕ    -1           NaN     -1
 200200078856      0  Jul 22, 12:54                         НОВЫЙ УРГАЛ    -1           NaN     -1
 200200029485      0  Jul 22, 14:05                        БЛАГОВЕЩЕНСК    -1           NaN     -1
 200200063733      0  Jul 22, 09:41                            ИЛАНСКАЯ    -1           NaN     -1
 200200075583      0  Jul 22, 12:26                        ХАБАРОВСК II    -1           NaN     -1
 200200048168      0  Jul 21, 22:20                         ВЕРХНЕЗЕЙСК    -1           NaN     -1
 200200060334      0  Jul 22, 14:49                               ХИЛОК    -1           NaN     -1
 200200052635      0  Jul 22, 03:25                              МОГЗОН    -1           NaN     -1
 200200060147      0  Jul 22, 04:00                         КОШУРНИКОВО    -1           NaN     -1
 200200044137      0  Jul 22, 04:15                            НАЗАРОВО    -1           NaN     -1
 200200083698      0  Jul 22, 13:31                           БЕЛОГОРСК    -1           NaN     -1
 200200103271      0  Jul 22, 14:41                           БЕЛОГОРСК    -1           NaN     -1
 200200088442      0  Jul 22, 04:25                          КРАСНОЯРСК    -1           NaN     -1
 200207473835      0  Jul 22, 13:55                           ВИХОРЕВКА    -1           NaN     -1
 200200065553      0  Jul 22, 13:17                         ИЗВЕСТКОВАЯ    -1           NaN     -1
 200200062338      0  Jul 22, 14:32                     СЕВЕРОБАЙКАЛЬСК    -1           NaN     -1
 200200073187      0  Jul 22, 14:00                         ХАБАРОВСК I    -1           NaN     -1
 200200070212      0  Jul 22, 00:45  КОМСОМОЛЬСК-НА-АМУРЕ-СОРТИРОВОЧНЫЙ    -1           NaN     -1
 200200031936      0  Jul 22, 13:01                        НОВОЧУГУЕВКА    -1           NaN     -1
 200200045586      0  Jul 22, 01:27                            УЛАН-УДЭ    -1           NaN     -1
 200200031971      0  Jul 22, 14:04                             ТАКСИМО    -1           NaN     -1
 200200075510      0  Jul 22, 14:04                                ЗИМА    -1           NaN     -1
 200200048740      0  Jul 22, 10:01                КОМСОМОЛЬСК-НА-АМУРЕ    -1           NaN     -1
 200200070827      0  Jul 22, 14:28                         СКОВОРОДИНО    -1           NaN     -1
 200200084958      0  Jul 22, 13:30                              ТАЙШЕТ    -1           NaN     -1
 200200054791      0  Jul 22, 14:01                              ЗИЛОВО    -1           NaN     -1
 200200056782      0  Jul 21, 21:50                           ВЯЗЕМСКАЯ    -1           NaN     -1
 200200069125      0  Jul 22, 11:36            ЧЕРНЫШЕВСК-ЗАБАЙКАЛЬСКИЙ    -1           NaN     -1
 200200065025      0  Jul 22, 14:04                            ГВОЗДЕВО    -1           NaN     -1
 200200067908      0  Jul 22, 04:15                         КОШУРНИКОВО    -1           NaN     -1
 200200083007      0  Jul 22, 06:00                            АЧИНСК I    -1           NaN     -1
 200200064689      0  Jul 22, 14:31                        ХАБАРОВСК II    -1           NaN     -1
 200200070425      0  Jul 21, 22:48                         СМОЛЯНИНОВО    -1           NaN     -1
 200200070787      0  Jul 22, 13:14                        ХАБАРОВСК II    -1           NaN     -1
 200200092678      0  Jul 22, 12:00                           КАРЫМСКАЯ    -1           NaN     -1
 200200097976      0  Jul 22, 13:04                            АЧИНСК I    -1           NaN     -1
 200200073709      0  Jul 22, 13:45                КОМСОМОЛЬСК-НА-АМУРЕ    -1           NaN     -1
 200200075442      0  Jul 22, 14:39                             КИРЕНГА    -1           NaN     -1
 200200029040      0  Jul 22, 13:51                           УССУРИЙСК    -1           NaN     -1
 200200050076      0  Jul 22, 03:00                              ЛЕСНАЯ    -1           NaN     -1
 200200048508      0  Jul 22, 13:45                КОМСОМОЛЬСК-НА-АМУРЕ    -1           NaN     -1
 200200070081      0  Jul 22, 14:34                                ЛЕНА    -1           NaN     -1
 200200053418      0  Jul 22, 13:02                         ПРИАМУРСКАЯ    -1           NaN     -1
 200200065774      0  Jul 22, 14:36                           БЕЛОГОРСК    -1           NaN     -1
 200200090677      0  Jul 22, 13:39                         ЗАБАЙКАЛЬСК    -1           NaN     -1
 200200056400      0  Jul 22, 13:40      СОВЕТСКАЯ ГАВАНЬ-СОРТИРОВОЧНАЯ    -1           NaN     -1
 200200052526      0  Jul 22, 14:10      СОВЕТСКАЯ ГАВАНЬ-СОРТИРОВОЧНАЯ    -1           NaN     -1
 200200075826      0  Jul 21, 21:54                                УЖУР    -1           NaN     -1
 200200087289      0  Jul 22, 08:01                              ЗИЛОВО    -1           NaN     -1
 200200106464      0  Jul 22, 14:12                          КРАСНОЯРСК    -1           NaN     -1
 200200063746      0  Jul 22, 10:25                          ПАРТИЗАНСК    -1           NaN     -1
 200200064581      0  Jul 22, 13:45                КОМСОМОЛЬСК-НА-АМУРЕ    -1           NaN     -1
 200200049554      0  Jul 22, 13:05                            САЯНСКАЯ    -1           NaN     -1
 200200093917      0  Jul 22, 12:50                         ХАБАРОВСК I    -1           NaN     -1
 200200197673      0  Jul 22, 09:26                           ВИХОРЕВКА    -1           NaN     -1
 200200051049      0  Jul 21, 20:41                            ИЛАНСКАЯ    -1           NaN     -1
 200200070689      0  Jul 22, 01:30                        ХАБАРОВСК II    -1           NaN     -1
 200200035952      0  Jul 22, 14:31                            МАРИИНСК    -1           NaN     -1
 200200099190      0  Jul 22, 04:10                            ДУБИНИНО    -1           NaN     -1
 200200029739      0  Jul 22, 08:18                            УЛАН-УДЭ    -1           NaN     -1
 200200043574      0  Jul 22, 13:45                КОМСОМОЛЬСК-НА-АМУРЕ    -1           NaN     -1
 200200065090      0  Jul 22, 14:26                               ТЫНДА    -1           NaN     -1
 200200046500      0  Jul 22, 01:32                           УССУРИЙСК    -1           NaN     -1
 200200138732      0  Jul 22, 14:23                          НОВЫЙ УОЯН    -1           NaN     -1
 200200063768      0  Jul 22, 13:13                            ЧЕГДОМЫН    -1           NaN     -1
 200200068003      0  Jul 22, 12:55                         НОВЫЙ УРГАЛ    -1           NaN     -1
 200200104487      0  Jul 22, 13:23                           БЕЛОГОРСК    -1           NaN     -1
 200200072073      0  Jul 22, 12:23                           СИБИРЦЕВО    -1           NaN     -1
 200200066462      0  Jul 22, 14:04                                ЗИМА    -1           NaN     -1
 200200074457      0  Jul 22, 03:30                           БЕЛОГОРСК    -1           NaN     -1
 200200080391      0  Jul 22, 14:00                           КАРЫМСКАЯ    -1           NaN     -1
 200200030297      0  Jul 22, 04:15                              ЧУНОЯР    -1           NaN     -1
 200200084841      0  Jul 22, 13:59                           СОЛНЦЕВАЯ    -1           NaN     -1
 200200069987      0  Jul 22, 12:15                        ВЫСОКОГОРНАЯ    -1           NaN     -1
 200200085096      0  Jul 22, 08:40                КОМСОМОЛЬСК-НА-АМУРЕ    -1           NaN     -1
 200200049497      0  Jul 22, 06:35                         НОВЫЙ УРГАЛ    -1           NaN     -1
 200200089553      0  Jul 22, 04:01                            УЛАН-УДЭ    -1           NaN     -1
 200200052511      0  Jul 22, 12:55                           ВЯЗЕМСКАЯ    -1           NaN     -1
 200200057599      0  Jul 22, 13:15                        ХАБАРОВСК II    -1           NaN     -1
 200200032793      0  Jul 22, 14:30                              ИГИРМА    -1           NaN     -1
 200200225480      0  Jul 22, 03:55                            КАРАБУЛА    -1           NaN     -1
 200200075497      0  Jul 22, 14:46                           СУХОВСКАЯ    -1           NaN     -1
 200200099952      0  Jul 22, 14:29                         УСТЬ-ИЛИМСК    -1           NaN     -1
 200200139527      0  Jul 22, 10:01                            АЧИНСК I    -1           NaN     -1
 200200056808      0  Jul 22, 13:28                           УССУРИЙСК    -1           NaN     -1
 200200168267      0  Jul 22, 12:55                          СЛЮДЯНКА I    -1           NaN     -1
 200200060073      0  Jul 22, 04:15                            КУРАГИНО    -1           NaN     -1
 200200060951      0  Jul 22, 13:40                      СПАССК-ДАЛЬНИЙ    -1           NaN     -1
 200200302567      0  Jul 22, 12:45      СОВЕТСКАЯ ГАВАНЬ-СОРТИРОВОЧНАЯ    -1           NaN     -1
 200200077147      0  Jul 22, 13:23                              ТАЙШЕТ    -1           NaN     -1
 200200060449      0  Jul 22, 14:15                            АЧИНСК I    -1           NaN     -1
 200200079126      0  Jul 22, 13:01                             УГЛОВАЯ    -1           NaN     -1
 200200067978      0  Jul 22, 00:27                            ИЛАНСКАЯ    -1           NaN     -1
 200200091133      0  Jul 22, 13:45                КОМСОМОЛЬСК-НА-АМУРЕ    -1           NaN     -1
 200200035585      0  Jul 22, 12:53                               БИКИН    -1           NaN     -1
 200200042576      0  Jul 22, 13:52                              ПОСЬЕТ    -1           NaN     -1
 200200065519      0  Jul 21, 21:56                           ВЯЗЕМСКАЯ    -1           NaN     -1
 200200055285      0  Jul 22, 07:21                            УЛАН-УДЭ    -1           NaN     -1
 200200069268      0  Jul 22, 07:50                             МЫСОВАЯ    -1           NaN     -1
 200200051855      0  Jul 22, 01:58                           ГРОДЕКОВО    -1           NaN     -1
 200200077575      0  Jul 22, 13:48                         НОВЫЙ УРГАЛ    -1           NaN     -1
 200200047991      0  Jul 22, 14:24                              ТАЙШЕТ    -1           NaN     -1
 200200061985      0  Jul 22, 13:56                            ДУБИНИНО    -1           NaN     -1
 200200056661      0  Jul 22, 02:10                        НАДЕЖДИНСКАЯ    -1           NaN     -1
 200200065647      0  Jul 22, 10:52  КОМСОМОЛЬСК-НА-АМУРЕ-СОРТИРОВОЧНЫЙ    -1           NaN     -1
 200200087965      0  Jul 22, 14:15                         СМОЛЯНИНОВО    -1           NaN     -1
 200200066660      0  Jul 22, 14:32                               БУРЕЯ    -1           NaN     -1
 200200095773      0  Jul 21, 19:12  КОМСОМОЛЬСК-НА-АМУРЕ-СОРТИРОВОЧНЫЙ    -1           NaN     -1
 200211339317      0  Jul 22, 10:30                      ЧЕРНОРЕЧЕНСКАЯ    -1           NaN     -1
 200200076282      0  Jul 22, 10:55                           ЗАОЗЕРНАЯ    -1           NaN     -1
 200200070900      0  Jul 22, 13:53      СОВЕТСКАЯ ГАВАНЬ-СОРТИРОВОЧНАЯ    -1           NaN     -1
 200200075812      0  Jul 22, 03:00                     СЕВЕРОБАЙКАЛЬСК    -1           NaN     -1
 200200058646      0  Jul 22, 00:23                               БИКИН    -1           NaN     -1
 200200091945      0  Jul 22, 03:15                               БУРЕЯ    -1           NaN     -1
 200200066601      0  Jul 22, 13:56                           УССУРИЙСК    -1           NaN     -1
 200200064880      0  Jul 22, 14:00                         ХАБАРОВСК I    -1           NaN     -1
 200207475946      0  Jul 22, 14:40                              БРАТСК    -1           NaN     -1
 200200076428      0  Jul 22, 05:10                              АБАКАН    -1           NaN     -1
 200200070484      0  Jul 22, 01:00                       ВОЛОЧАЕВКА II    -1           NaN     -1
 200200047681      0  Jul 22, 12:24                            БЕРКАКИТ    -1           NaN     -1
 200200091174      0  Jul 22, 10:05                          НОВАЯ ЧАРА    -1           NaN     -1
 200200066254      0  Jul 22, 04:05                   ЧЕРНОГОРСКИЕ КОПИ    -1           NaN     -1
 200200053150      0  Jul 22, 14:25                               ТЫНДА    -1           NaN     -1
 200200086533      0  Jul 22, 11:11                           ЗАОЗЕРНАЯ    -1           NaN     -1
 200200032133      0  Jul 21, 22:17                          НОВЫЙ УОЯН    -1           NaN     -1
 200200048846      0  Jul 22, 05:52                             МЫСОВАЯ    -1           NaN     -1
 200200072861      0  Jul 22, 03:30                           БЕЛОГОРСК    -1           NaN     -1
 200200060503      0  Jul 22, 09:51                            УЛАН-УДЭ    -1           NaN     -1
 200200028916      0  Jul 22, 12:30                            ГВОЗДЕВО    -1           NaN     -1
 200200066690      0  Jul 22, 14:24                           СУХОВСКАЯ    -1           NaN     -1
 200200079068      0  Jul 22, 14:10                            АЧИНСК I    -1           NaN     -1
 200200057144      0  Jul 22, 12:25                           СИБИРЦЕВО    -1           NaN     -1
 200200072927      0  Jul 22, 14:25                                 УЯР    -1           NaN     -1

In [569]:
slot = pd.read_csv(FOLDER + 'slot.csv', dtype={'st_from':str, 'st_to':str})
add_info(slot)
slot_routes = slot.drop_duplicates('slot')[['slot', 'st_from_name', 'time_start']].set_index('slot')\
        .join(slot.drop_duplicates('slot', keep='last')[['slot', 'st_to_name', 'time_end']].set_index('slot'))
slot_routes = slot_routes[['st_from_name', 'st_to_name', 'time_start', 'time_end']]

In [570]:
ns = [9205003038, 9205004359]
team_info['oper_time_f'] = team_info.oper_time.apply(nice_time)
print(team_info[team_info.number.isin(ns)][['team', 'number', 'ttype', 'oper_time_f', 'loc_name', 'state']])

Empty DataFrame
Columns: [team, number, ttype, oper_time_f, loc_name, state]
Index: []

In [571]:
loco_info[loco_info.loco == '200200082272'][['loco', 'number', 'ser_name', 'regions', 'loc_name', 'oper_time_f', 'state', 'train', 'ltype']]

              loco  number ser_name         regions               loc_name    oper_time_f  state train  ltype
1240  200200082272      24     ВЛ85  ['2002119299']  ИРКУТСК-СОРТИРОВОЧНЫЙ  Jul 22, 09:36     -1    -1      1

In [572]:
loco_plan[loco_plan.loco == '200200082272'][['loco', 'st_from_name', 'st_to_name', 'time_start_norm', 'time_end_norm', 'train']]

              loco           st_from_name            st_to_name time_start_norm  time_end_norm           train
1206  200200082272  ИРКУТСК-СОРТИРОВОЧНЫЙ            БАТАРЕЙНАЯ   Jul 22, 20:32  Jul 22, 20:34  88880003124255
1207  200200082272             БАТАРЕЙНАЯ                 МЕГЕТ   Jul 22, 20:34  Jul 22, 20:42  88880003124255
1208  200200082272                  МЕГЕТ             СУХОВСКАЯ   Jul 22, 20:42  Jul 22, 20:54  88880003124255
1209  200200082272              СУХОВСКАЯ               АНГАРСК   Jul 22, 20:54  Jul 22, 20:59  88880003124255
1210  200200082272                АНГАРСК                 КИТОЙ   Jul 22, 20:59  Jul 22, 21:08  88880003124255
1211  200200082272                  КИТОЙ                МАЛЬТА   Jul 22, 21:08  Jul 22, 21:50  88880003124255
1212  200200082272                 МАЛЬТА            КАСЬЯНОВКА   Jul 22, 21:50  Jul 22, 22:43  88880003124255
1213  200200082272             КАСЬЯНОВКА             ЧЕРЕМХОВО   Jul 22, 22:43  Jul 22, 23:03  88880003124255
1214  200200082272              ЧЕРЕМХОВО                ЗАЛАРИ   Jul 22, 23:03  Jul 23, 00:16  88880003124255
1215  200200082272                 ЗАЛАРИ                  ЗИМА   Jul 23, 00:16  Jul 23, 01:12  88880003124255
1216  200200082272                   ЗИМА               ПЕРЕВОЗ   Jul 23, 02:32  Jul 23, 02:47  88880003124255
1217  200200082272                ПЕРЕВОЗ                КУЙТУН   Jul 23, 02:47  Jul 23, 03:37  88880003124255
1218  200200082272                 КУЙТУН                  АЗЕЙ   Jul 23, 03:37  Jul 23, 04:33  88880003124255
1219  200200082272                   АЗЕЙ                 ТУЛУН   Jul 23, 04:33  Jul 23, 04:59  88880003124255
1220  200200082272                  ТУЛУН                УДА II   Jul 23, 04:59  Jul 23, 06:46  88880003124255
1221  200200082272                 УДА II           НИЖНЕУДИНСК   Jul 23, 06:46  Jul 23, 06:55  88880003124255
1222  200200082272            НИЖНЕУДИНСК               АЛЗАМАЙ   Jul 23, 06:55  Jul 23, 08:35  88880003124255
1223  200200082272                АЛЗАМАЙ            БАЙРОНОВКА   Jul 23, 08:35  Jul 23, 09:25  88880003124255
1224  200200082272             БАЙРОНОВКА                ТАЙШЕТ   Jul 23, 09:25  Jul 23, 09:39  88880003124255
1225  200200082272                 ТАЙШЕТ                  ЮРТЫ   Jul 23, 09:39  Jul 23, 10:06  88880003124255
1226  200200082272                   ЮРТЫ                 КЛЮЧИ   Jul 23, 10:06  Jul 23, 10:33  88880003124255
1227  200200082272                  КЛЮЧИ                РЕШОТЫ   Jul 23, 10:33  Jul 23, 10:48  88880003124255
1228  200200082272                 РЕШОТЫ              ИЛАНСКАЯ   Jul 23, 10:48  Jul 23, 12:11  88880003124255
1229  200200082272               ИЛАНСКАЯ             ЗАОЗЕРНАЯ   Jul 23, 15:20  Jul 23, 17:12  88880003124255
1230  200200082272              ЗАОЗЕРНАЯ                   УЯР   Jul 23, 17:12  Jul 23, 17:55  88880003124255
1231  200200082272                    УЯР                ЗЫКОВО   Jul 23, 17:55  Jul 23, 19:39  88880003124255
1232  200200082272                 ЗЫКОВО  КРАСНОЯРСК-ВОСТОЧНЫЙ   Jul 23, 19:39  Jul 23, 19:49  88880003124255

In [579]:
d = datetime.datetime.fromtimestamp(current_time)
#team_plan[team_plan.time_start < ]
day_start = datetime.datetime(d.year, d.month, d.day, 18, 0, 0)
day_start

datetime.datetime(2016, 7, 22, 18, 0)

In [582]:
day_next = day_start + datetime.timedelta(1)

In [583]:
team_plan['dt_start'] = team_plan.time_start.apply(datetime.datetime.fromtimestamp)

In [599]:
st_name = 'ИРКУТСК-СОРТИРОВОЧНЫЙ'
team_plan[(team_plan.dt_start >= day_start) 
          & (team_plan.dt_start < day_next)
          & (team_plan.st_from_name == st_name) & (team_plan.state.isin([0, 1]))
         & (team_plan.depot_name == st_name)
         & (team_plan.st_to_name == 'БАТАРЕЙНАЯ')][['team', 'st_from_name', 'st_to_name', 'dt_start', 'loco', 'state']].sort_values('dt_start')

               team           st_from_name  st_to_name            dt_start          loco  state
39621  777700013028  ИРКУТСК-СОРТИРОВОЧНЫЙ  БАТАРЕЙНАЯ 2016-07-22 18:20:00  200200091211      1
30736  777700013168  ИРКУТСК-СОРТИРОВОЧНЫЙ  БАТАРЕЙНАЯ 2016-07-22 18:20:00  200200098197      1
39596  777700013026  ИРКУТСК-СОРТИРОВОЧНЫЙ  БАТАРЕЙНАЯ 2016-07-22 18:28:38  200200083020      1
30958  777700013167  ИРКУТСК-СОРТИРОВОЧНЫЙ  БАТАРЕЙНАЯ 2016-07-22 19:28:07  200200081936      1
8817   200200110159  ИРКУТСК-СОРТИРОВОЧНЫЙ  БАТАРЕЙНАЯ 2016-07-22 20:10:00  200200050952      1
2210   200200223785  ИРКУТСК-СОРТИРОВОЧНЫЙ  БАТАРЕЙНАЯ 2016-07-22 20:35:00  200200048996      1
3416   200200120486  ИРКУТСК-СОРТИРОВОЧНЫЙ  БАТАРЕЙНАЯ 2016-07-22 21:00:27  200200093794      1
18531  200200132310  ИРКУТСК-СОРТИРОВОЧНЫЙ  БАТАРЕЙНАЯ 2016-07-22 22:20:00  200200088747      1
7711   200200129611  ИРКУТСК-СОРТИРОВОЧНЫЙ  БАТАРЕЙНАЯ 2016-07-22 23:36:08  200200063979      1
8078   200200165890  ИРКУТСК-СОРТИРОВОЧНЫЙ  БАТАРЕЙНАЯ 2016-07-23 00:53:17  200200054913      1
13293  200200206157  ИРКУТСК-СОРТИРОВОЧНЫЙ  БАТАРЕЙНАЯ 2016-07-23 02:50:00  200200090013      1
14351  200200154449  ИРКУТСК-СОРТИРОВОЧНЫЙ  БАТАРЕЙНАЯ 2016-07-23 03:15:00  200200098804      1
22027  200200211369  ИРКУТСК-СОРТИРОВОЧНЫЙ  БАТАРЕЙНАЯ 2016-07-23 04:03:39  200200106781      1
2269   200200224741  ИРКУТСК-СОРТИРОВОЧНЫЙ  БАТАРЕЙНАЯ 2016-07-23 04:16:03  200200138580      1
12095  200200252103  ИРКУТСК-СОРТИРОВОЧНЫЙ  БАТАРЕЙНАЯ 2016-07-23 05:08:34  200200089062      1
23141  200200100354  ИРКУТСК-СОРТИРОВОЧНЫЙ  БАТАРЕЙНАЯ 2016-07-23 07:15:00  200200083032      1
7867   200200165964  ИРКУТСК-СОРТИРОВОЧНЫЙ  БАТАРЕЙНАЯ 2016-07-23 07:25:00  200200103770      1
37675  200200278032  ИРКУТСК-СОРТИРОВОЧНЫЙ  БАТАРЕЙНАЯ 2016-07-23 07:30:00  200200044827      1
32786  200200134533  ИРКУТСК-СОРТИРОВОЧНЫЙ  БАТАРЕЙНАЯ 2016-07-23 08:04:35  200200083722      1
12213  200200252139  ИРКУТСК-СОРТИРОВОЧНЫЙ  БАТАРЕЙНАЯ 2016-07-23 08:59:55  200200056138      1
2415   200200097625  ИРКУТСК-СОРТИРОВОЧНЫЙ  БАТАРЕЙНАЯ 2016-07-23 09:34:16  200200038390      1
20739  777700014831  ИРКУТСК-СОРТИРОВОЧНЫЙ  БАТАРЕЙНАЯ 2016-07-23 14:16:38  200200088073      1
14720  777700015752  ИРКУТСК-СОРТИРОВОЧНЫЙ  БАТАРЕЙНАЯ 2016-07-23 16:44:08  200200069305      1
19698  777700015410  ИРКУТСК-СОРТИРОВОЧНЫЙ  БАТАРЕЙНАЯ 2016-07-23 16:57:00  200200055783      1