In [179]:
FOLDER = 'resources/'

import numpy as np
import pandas as pd
import time, datetime
from ast import literal_eval
import matplotlib.pyplot as plt
import seaborn as sns
import zipfile

%matplotlib inline
plt.style.use('fivethirtyeight')
plt.rc('font', family='Times New Roman')

pd.set_option('max_rows', 50)

time_format = '%b %d, %H:%M'

start_time = time.time()
current_time = pd.read_csv(FOLDER + 'current_time.csv').current_time[0]
twr          = pd.read_csv(FOLDER + 'team_work_region.csv', converters={'twr':str})
links        = pd.read_csv(FOLDER + 'link.csv')
stations     = pd.read_csv(FOLDER + 'station.csv', converters={'station':str})
train_info   = pd.read_csv(FOLDER + 'train_info.csv', converters={'train': str, 'st_from':str, 'st_to':str, 'oper_location':str,
                                                                 'st_from':str, 'st_to':str})
train_plan   = pd.read_csv(FOLDER + 'slot_train.csv', converters={'train': str, 'st_from':str, 'st_to':str})
loco_info    = pd.read_csv(FOLDER + 'loco_attributes.csv', converters={'train':str, 'loco':str, 'depot':str,
                                                                      'st_from':str, 'st_to':str})
loco_plan    = pd.read_csv(FOLDER + 'slot_loco.csv', converters={'train':str, 'loco':str, 'st_from':str, 'st_to':str})
team_info    = pd.read_csv(FOLDER + 'team_attributes.csv', converters={'team':str,'depot':str, 'oper_location':str, \
                                                                 'st_from':str, 'st_to':str, 'loco':str, 'depot_st':str})
team_plan    = pd.read_csv(FOLDER + 'slot_team.csv', converters={'team':str,'loco':str, 'st_from':str, 'st_to':str})
loco_series  = pd.read_csv(FOLDER + 'loco_series.csv')

team_info.regions = team_info.regions.apply(literal_eval)
st_names = stations[['station', 'name', 'esr']].drop_duplicates().set_index('station')
print('Planning start time: %s (%d)' % (time.strftime(time_format, time.localtime(current_time)), current_time))

Planning start time: Jul 06, 07:35 (1467779708)

In [180]:
# Мержим таблицы _plan и _info для поездов, локомотивов и бригад
# Добавляем во все таблицы названия станций на маршруте и времена отправления/прибытия в читабельном формате

def add_info(df):    
    if 'st_from' in df.columns:
        df['st_from_name'] = df.st_from.map(st_names.name)
    if 'st_to' in df.columns:
        df['st_to_name'] = df.st_to.map(st_names.name)
    if 'time_start' in df.columns:
        df['time_start_norm'] = df.time_start.apply(lambda x: time.strftime(time_format, time.localtime(x)))
    if 'time_end' in df.columns:
        df['time_end_norm'] = df.time_end.apply(lambda x: time.strftime(time_format, time.localtime(x)))
    if 'oper_location' in df.columns:
        df['oper_location_name'] = df.oper_location.map(st_names.name)    
        df.oper_location_name.fillna(0, inplace=True)
    if ('oper_location' in df.columns) & ('st_from' in df.columns) & ('st_to' in df.columns):        
        df['loc_name'] = df.oper_location_name
        df.loc[df.loc_name == 0, 'loc_name'] = df.st_from_name + ' - ' + df.st_to_name
    
add_info(train_plan)
add_info(loco_plan)
add_info(team_plan)
add_info(loco_info)
add_info(team_info)
add_info(train_info)
train_plan = train_plan.merge(train_info, on='train', suffixes=('', '_info'), how='left')
loco_plan = loco_plan.merge(loco_info, on='loco', suffixes=('', '_info'), how='left')
team_plan = team_plan.merge(team_info, on='team', suffixes=('', '_info'), how='left')
team_plan['team_type'] = team_plan.team.apply(lambda x: 'Реальная' if str(x)[0] == '2' else 'Фейковая')

In [252]:
def nice_time(t):
    #if not time_format: time_format = '%b %d, %H:%M'
    return time.strftime(time_format, time.localtime(t)) if t > 0 else ''

def nice_print(s, **kwargs):    
    num = kwargs['num'] if 'num' in kwargs.keys() else False
    cols = kwargs['cols'] if 'cols' in kwargs.keys() else s.columns
    if num:
        print(s.reset_index()[cols].to_string())
    else:
        print(s[cols].to_string(index=False))

In [182]:
train_plan['train_type'] = train_plan.train.apply(lambda x: int(str(x)[0]))
train_plan.loc[train_plan.train_type == 9, 'weight'] = 3500

In [183]:
cols = ['train', 'number', 'weight', 'st_from_name', 'st_to_name', 'time_start_norm', 'time_end_norm', 'loco', 'ser_name', 'sections']
train_plan['train_time'] = list(zip(train_plan.train, train_plan.time_start))
loco_plan['train_time'] = list(zip(loco_plan.train, loco_plan.time_start))
train_plan['loco'] = train_plan.train_time.map(loco_plan.drop_duplicates('train_time').set_index('train_time').loco)
loco_info['ser_name'] = loco_info.series.map(loco_series.set_index('ser_id').ser_name)
train_plan['ser_name'] = train_plan.loco.map(loco_info.set_index('loco').ser_name)
train_plan['sections'] = train_plan.loco.map(loco_info.set_index('loco').sections)
a = train_plan[(train_plan.weight > 6000) & (train_plan.weight < 6300)].dropna(subset=['loco'])[cols].drop_duplicates(['train', 'loco'])
a.groupby(['ser_name', 'sections']).loco.count()

ser_name  sections
2ТЭ10М    3             1
2ТЭ10МК   3             1
2ЭС5К     4            10
3ТЭ10УК   3             1
3ЭС5К     3           110
ВЛ80Р     3            11
ВЛ80С     3            15
          4             1
ВЛ80ТК    2             1
          3            10
ВЛ85      2            22
Name: loco, dtype: int64

In [184]:
print(nice_time(current_time))
sec4 = train_plan[(train_plan.sections == 3)].drop_duplicates(['train', 'loco'])
sec4[(sec4.weight < 3500) & (sec4.time_start >= current_time)].sort_values('weight', ascending=False)[cols]

Jul 06, 07:35

,train,number,weight,st_from_name,st_to_name,time_start_norm,time_end_norm,loco,ser_name,sections
66509,210255775527,2812,3485,АЗЕЙ,КУЙТУН,"Jul 06, 13:15","Jul 06, 14:17",200200099408,ВЛ80Р,3
73158,210256450945,3002,3466,КАРЫМСКАЯ,ТАРСКАЯ,"Jul 10, 15:04","Jul 10, 15:33",200200104400,3ЭС5К,3
5994,210256126304,9231,3437,БИКИН,РОЗЕНГАРТОВКА,"Jul 06, 13:30","Jul 06, 14:13",200200077608,3ЭС5К,3
2961,210255023230,2145,3403,КАРЫМСКАЯ,ЧИТА I,"Jul 07, 08:30","Jul 07, 10:49",200200071747,ВЛ80Р,3
8605,210255761427,9213,3391,БЕЛОГОРСК II,ЗАВИТАЯ,"Jul 06, 10:20","Jul 06, 12:29",200200099685,3ЭС5К,3
15860,210256431372,3704,3391,ХАБАРОВСК I,ХАБАРОВСК II,"Jul 06, 09:55","Jul 06, 10:16",210252318194,3ЭС5К,3
77312,210255164633,2031,3365,КАРЫМСКАЯ,ЧИТА I,"Jul 08, 09:34","Jul 08, 12:09",200200095360,ВЛ80Р,3
28314,210256190595,3114,3359,БИКИН,ЛУЧЕГОРСК,"Jul 06, 08:00","Jul 06, 08:47",200200104920,3ЭС5К,3
16830,210256196218,3811,3334,КУЙТУН,АЗЕЙ,"Jul 06, 23:05","Jul 07, 00:07",200200083761,ВЛ80С,3
25689,210256078727,9233,3331,БЕЛОГОРСК II,ЗАВИТАЯ,"Jul 06, 11:35","Jul 06, 13:44",200200076547,ВЛ80С,3
15662,210256440141,3501,3327,КРАСНОЯРСК-ВОСТОЧНЫЙ,КРАСНОЯРСК-СЕВЕРНЫЙ,"Jul 06, 10:25","Jul 06, 11:01",200200092244,ВЛ80Р,3
12372,210256218228,2002,3323,ИРКУТСК-СОРТИРОВОЧНЫЙ,ГОНЧАРОВО,"Jul 08, 08:54","Jul 08, 09:25",200200102416,ВЛ80Р,3
80165,210255751972,9211,3301,БЕЛОГОРСК,БЕЛОГОРСК II,"Jul 06, 10:05","Jul 06, 10:16",200200037897,3ЭС5К,3
51306,210252761869,1114,3296,БЕЛОГОРСК,БЕЛОГОРСК II,"Jul 06, 07:55","Jul 06, 08:06",200200099342,3ЭС5К,3
32827,210256415421,2623,3272,КРАСНОЯРСК-ВОСТОЧНЫЙ,КРАСНОЯРСК-СЕВЕРНЫЙ,"Jul 06, 07:50","Jul 06, 08:24",200200094936,ВЛ80Р,3
5147,210256087756,2803,3248,КАРЫМСКАЯ,ЧИТА I,"Jul 08, 12:16","Jul 08, 15:10",200200030083,ВЛ80Р,3
63442,210256435774,2442,3188,КАРЫМСКАЯ,ТАРСКАЯ,"Jul 06, 16:00","Jul 06, 16:29",200200086778,3ЭС5К,3
63463,210256435774,2442,3188,МАГДАГАЧИ,УШУМУН,"Jul 08, 08:09","Jul 08, 10:11",210203707462,3ЭС5К,3
68332,210256203802,3001,3172,РЕШОТЫ,ИЛАНСКАЯ,"Jul 06, 20:35","Jul 06, 21:55",200200085534,ВЛ80Р,3
52103,210255563538,2143,3142,КАРЫМСКАЯ,ЧИТА I,"Jul 07, 07:45","Jul 07, 10:04",200200099788,ВЛ80С,3
3370,210254263201,2697,3121,ЗИЛОВО,ЖИРЕКЕН,"Jul 06, 07:38","Jul 06, 08:20",200208843801,3ЭС5К,3
49545,210254709008,1121,3119,СКОВОРОДИНО,БОЛЬШОЙ НЕВЕР,"Jul 06, 11:05","Jul 06, 11:36",200200072093,ВЛ80С,3
39935,210256183016,3501,3112,КОРШУНИХА-АНГАРСКАЯ,ГИДРОСТРОИТЕЛЬ,"Jul 06, 08:45","Jul 06, 13:10",200200080966,3ЭС5К,3
29122,210255376019,1122,3101,СКОВОРОДИНО,БОЛЬШОЙ НЕВЕР,"Jul 07, 10:30","Jul 07, 11:01",200200090258,3ЭС5К,3
43446,210255055790,2868,3097,СОЛНЦЕВАЯ,ШИЛКА-ТОВАРНАЯ,"Jul 06, 09:20","Jul 06, 09:58",200200037471,3ЭС5К,3
...,...,...,...,...,...,...,...,...,...,...
28722,210256207893,8551,61,ИЗВЕСТКОВАЯ,ОБЛУЧЬЕ,"Jul 06, 12:30","Jul 06, 13:27",200200140462,3ЭС5К,3
76291,210256388383,8810,55,ВЫСОКОГОРНАЯ,МОНГОХТО,"Jul 08, 03:29","Jul 08, 10:08",200200089478,2ТЭ10УК,3
46046,210256460752,8907,0,ВЕРХНЕЗЕЙСК,ДИПКУН,"Jul 06, 07:45","Jul 06, 13:08",200200073779,3ТЭ10МК,3
43817,200200739851,4902,0,МЕЖДУРЕЧЕНСК,БИСКАМЖА,"Jul 06, 10:40","Jul 06, 13:44",200200063512,ВЛ80С,3
45667,210256460784,4702,0,УЛАН-УДЭ,ЗАУДИНСКИЙ,"Jul 06, 14:30","Jul 06, 14:48",200200030946,ВЛ80Р,3
52235,210255563536,2675,0,КАРЫМСКАЯ,ЧИТА I,"Jul 07, 01:25","Jul 07, 04:02",200200071397,3ЭС5К,3
54558,210256462607,4401,0,ТАЛЬЦЫ,ЗАУДИНСКИЙ,"Jul 06, 08:10","Jul 06, 08:19",200200072818,2ТЭ10МК,3
52689,210256444487,4882,0,ХАБЗАС,АСКИЗ,"Jul 06, 15:20","Jul 06, 16:21",200200098890,ВЛ80ТК,3
57881,210256435346,4883,0,СПАССК-ДАЛЬНИЙ,СИБИРЦЕВО,"Jul 06, 08:30","Jul 06, 09:31",200200100447,3ЭС5К,3
50198,210256444744,8902,0,СПАССК-ДАЛЬНИЙ,ШМАКОВКА,"Jul 06, 10:40","Jul 06, 11:51",200200046719,3ЭС5К,3
79528,200200644495,4212,0,ХАБЗАС,АСКИЗ,"Jul 06, 21:30","Jul 06, 22:51",200200049932,ВЛ80ТК,3
75274,210256459518,4019,0,КУН,ЭЛЬДИГАН,"Jul 06, 07:37","Jul 06, 09:16",200200045907,3ТЭ10МК,3
43523,210256437705,4403,0,АСКИЗ,КАМЫШТА,"Jul 06, 08:15","Jul 06, 08:42",200200076505,ВЛ80ТК,3
61163,210256382128,8903,0,ИЛАНСКАЯ,ЗАОЗЕРНАЯ,"Jul 06, 13:30","Jul 06, 15:32",200200072103,ВЛ80С,3
75505,210256459498,4117,0,БАЛБУХТА,КУАНДА,"Jul 06, 09:20","Jul 06, 10:11",200200073494,2ТЭ10МК,3
42660,210256447234,4704,0,БАЗАИХА,ЗЛОБИНО,"Jul 07, 04:05","Jul 07, 04:21",200200085110,ВЛ80Р,3
77942,210256459159,4003,0,БЛОКПОСТ 197 КМ,ОУНЭ,"Jul 06, 07:50","Jul 06, 08:20",200200079770,3ТЭ10УК,3
39131,210256447224,4011,0,ИКАБЬЯКАН,НОВАЯ ЧАРА,"Jul 06, 10:55","Jul 06, 12:22",200200072646,2ТЭ10МК,3
65270,210256142590,8905,0,БАМОВСКАЯ,УРУША,"Jul 06, 11:00","Jul 06, 12:23",200205692809,3ЭС5К,3
12694,210256188159,4412,0,МЕЖДУРЕЧЕНСК,БИСКАМЖА,"Jul 06, 10:00","Jul 06, 13:04",200200097994,ВЛ80С,3
67071,210256458475,4202,0,ХАБЗАС,АСКИЗ,"Jul 06, 14:30","Jul 06, 15:35",200200059594,ВЛ80С,3
68303,200258536395,4027,0,НЕБЕЛЬ,ТАКОВКА,"Jul 06, 08:02","Jul 06, 08:24",200200094096,3ЭС5К,3
51165,210255757619,2126,0,КАРЫМСКАЯ,ТАРСКАЯ,"Jul 07, 19:45","Jul 07, 20:17",200200028807,3ЭС5К,3
72956,210256457845,4007,0,ИКАБЬЯКАН,НОВАЯ ЧАРА,"Jul 06, 15:20","Jul 06, 17:07",200200085511,2ТЭ10МК,3
68347,210256412418,4701,0,ЗУН-ТОРЕЙ,ШАХТЕРСКАЯ,"Jul 06, 19:00","Jul 06, 19:20",200200049011,3ЭС5К,3

In [185]:
train_plan[train_plan.train == '210256460752'][cols]

,train,number,weight,st_from_name,st_to_name,time_start_norm,time_end_norm,loco,ser_name,sections
46046,210256460752,8907,0,ВЕРХНЕЗЕЙСК,ДИПКУН,"Jul 06, 07:45","Jul 06, 13:08",200200073779,3ТЭ10МК,3
46047,210256460752,8907,0,ДИПКУН,БЕСТУЖЕВО,"Jul 06, 13:08","Jul 06, 16:27",200200073779,3ТЭ10МК,3
46048,210256460752,8907,0,БЕСТУЖЕВО,ШАХТАУМ,"Jul 06, 16:27","Jul 06, 16:44",200200073779,3ТЭ10МК,3
46049,210256460752,8907,0,ШАХТАУМ,ТЫНДА,"Jul 06, 16:44","Jul 06, 17:06",200200073779,3ТЭ10МК,3

In [186]:
loco_plan[loco_plan.loco == '200200062937'][['loco', 'st_from_name', 'st_to_name', 'time_start_norm', 'time_end_norm', 'train', 'state']]

,loco,st_from_name,st_to_name,time_start_norm,time_end_norm,train,state
3058,200200062937,БОГОТОЛ,МАРИИНСК,"Jul 06, 06:59","Jul 06, 09:23",200211024148,1
3059,200200062937,МАРИИНСК,БОГОТОЛ,"Jul 06, 11:23","Jul 06, 13:52",88880001164638,0
3060,200200062937,БОГОТОЛ,БОГОТОЛ,"Jul 06, 13:52","Jul 06, 14:49",-1,4

In [187]:
loco_info[loco_info.tts < 86400].sort_values('tts')[['loco', 'number', 'tts', 'ser_name', 'sections']]

              loco  number    tts ser_name  sections
678   200200062937    1577   3600    ВЛ80Р         2
1685  200200090134     329   3600    3ЭС5К         3
285   200200103754    1521   3600    ВЛ80Р         2
1278  200200053547       4   3600  3ТЭ10УК         3
68    200200052526    7714   3600     ТЭМ2         1
1668  200200085671    1851   3600    ВЛ80Р         2
1488  200200030974      87   3600     ВЛ85         2
990   200200047290    7792   3600     ТЭМ2         1
676   200200077873     347   3600    3ЭС5К         3
24    200207612033     424   3600    3ЭС5К         3
1130  200200140196    1235   3600    ВЛ80С         3
871   200200225480    6929   3600     ТЭМ2         1
1939  200200078309     946   3600   ТЭМ2УМ         1
1967  200200071736     820   3600  ТЭМ18ДМ         1
1228  200200097312      98   7200    2ЭС5К         2
1684  200200094802     421   7200    ВЛ80С         4
550   200200098981     369   7200    3ЭС5К         3
878   200205700491     750   7200    3ЭС5К         3
1847  200200036428    2594   7200  2ТЭ10МК         3
1770  200200069515    2779   7200    ТЭМ2К         1
1410  200200064135      62   7200  3ТЭ10УК         3
2068  200200048740     777   7200   ТЭМ2АК         1
1932  200200057348     660  10800  ТЭМ18ДМ         1
1305  200200093827      66  10800    3ЭС5К         3
367   200200051248      86  10800    3ЭС5К         3
...            ...     ...    ...      ...       ...
1893  200200028420     698  79200  ТЭМ18ДМ         2
611   200200061448    1108  82800  3ТЭ10МК         3
228   200200056996    2627  82800   2ТЭ10М         2
897   200200058277    2956  82800  2ТЭ10МК         2
904   200200106714     529  82800    3ЭС5К         3
1774  200200078242    7002  82800     ТЭМ2         1
2047  200200062693      34  82800    ТЭМ18         1
2069  200200070456    2079  82800    ВЛ80Т         2
25    200200082366    2506  82800    ВЛ80С         4
2061  200200138666      16  82800      Э5К         1
1383  200200029356     581  82800    3ЭС5К         3
273   200200104108     655  82800    3ЭС5К         3
1486  200200082936    2573  82800   2ТЭ10М         3
2029  200200058460    1826  82800    ВЛ60К         1
827   200200105566     111  82800     ВЛ85         2
1436  200212357291      16  82800    2ЭС5К         4
1611  200207612088     171  82800    3ЭС5К         3
2014  200200084980    1968  82800    ТЭМ2К         1
1734  200200087888       6  82800    3ЭС5К         3
1450  200200095272      35  82800   2ТЭ25А         2
320   200200083512      37  82800     ВЛ85         2
328   200200055359    7859  82800     ТЭМ2         1
414   200200101396    1817  82800    ВЛ80Р         2
1395  200200138826    2176  82800    ВЛ80С         3
1729  200200087009    1200  82800  3ТЭ10МК         3

[332 rows x 5 columns]

In [188]:
link = pd.read_csv(FOLDER + 'link.csv', dtype={'st_from':str, 'st_to':str})
link['link'] = list(zip(link.st_from, link.st_to))

In [189]:
slot = pd.read_csv(FOLDER + 'slot.csv', dtype={'st_from':str, 'st_to':str})
#add_info(slot)
slot['link'] = list(zip(slot.st_from, slot.st_to))
slot['time'] = slot.time_end - slot.time_start
link['slot_tt'] = link.link.map(slot.groupby('link').time.mean())
link.slot_tt.fillna(link.time, inplace=True)
link.slot_tt = link.slot_tt.apply(int)
add_info(link)

In [190]:
import networkx as nx

all_stations = pd.Series(np.concatenate([link.st_from_name.unique(), link.st_to_name.unique()])).drop_duplicates().values
g = nx.DiGraph()
g.add_nodes_from(all_stations)
g.add_weighted_edges_from(list(zip(link.st_from_name, link.st_to_name, link.slot_tt))) # names
#g.add_weighted_edges_from(list(zip(cost.st_from_name, cost.st_to_name, cost.cost))) # id

In [191]:
st_from, st_to = 'МАРИИНСК', 'ИРКУТСК-СОРТИРОВОЧНЫЙ'
st_to1 = 'БОГОТОЛ'
path = nx.dijkstra_path(g, st_from, st_to)
length = nx.dijkstra_path_length(g, st_from, st_to)
print(length, path)

101576 ['МАРИИНСК', 'БОГОТОЛ', 'ЗЕРЦАЛЫ', 'АЧИНСК I', 'ЧЕРНОРЕЧЕНСКАЯ', 'БУГАЧ', 'КРАСНОЯРСК-СЕВЕРНЫЙ', 'КРАСНОЯРСК-ВОСТОЧНЫЙ', 'ЗЫКОВО', 'УЯР', 'ЗАОЗЕРНАЯ', 'ИЛАНСКАЯ', 'РЕШОТЫ', 'КЛЮЧИ', 'ЮРТЫ', 'ТАЙШЕТ', 'БАЙРОНОВКА', 'АЛЗАМАЙ', 'НИЖНЕУДИНСК', 'УДА II', 'ТУЛУН', 'АЗЕЙ', 'КУЙТУН', 'ПЕРЕВОЗ', 'ЗИМА', 'ЗАЛАРИ', 'ЧЕРЕМХОВО', 'КАСЬЯНОВКА', 'МАЛЬТА', 'КИТОЙ', 'АНГАРСК', 'СУХОВСКАЯ', 'МЕГЕТ', 'БАТАРЕЙНАЯ', 'ИРКУТСК-СОРТИРОВОЧНЫЙ']

In [192]:
all_paths = nx.all_pairs_dijkstra_path(g)
all_lengths = nx.all_pairs_dijkstra_path_length(g)
print(len(all_paths))

352

In [193]:
all_lengths[st_from][st_to1]

9504

In [194]:
'''
    Examples:
    al = pd.read_csv(FOLDER + '/mandatory/travel_times_all_pairs.csv', sep=';')
    get_longest_pair(['МАРИИНСК', 'ИЛАНСКАЯ', 'ИРКУТСК-СОРТИРОВОЧНЫЙ', 'РЕШОТЫ'], al.set_index(['st_from_name', 'st_to_name']))
    
    => Out[460]: ('МАРИИНСК', 'ИРКУТСК-СОРТИРОВОЧНЫЙ', 94170)
    
    get_longest_pair(['МАРИИНСК', 'ИЛАНСКАЯ', 'РЕШОТЫ', 'ИРКУТСК-СОРТИРОВОЧНЫЙ'], nx.all_pairs_dijkstra_path_length(g))
    
    => Out[460]: ('МАРИИНСК', 'ИРКУТСК-СОРТИРОВОЧНЫЙ', 94170)    
'''

def get_longest_pair(st_list, lengths):
    sm1, sm2 = '', ''
    m = 0
    for s1 in st_list:
        for s2 in st_list:
            if type(lengths) == dict:
                l = lengths[s1][s2]
            elif type(lengths) == pd.DataFrame:
                l = lengths.ix[s1, s2].values[0]
            else: l = 0
            if l > m:
                m = l
                sm1, sm2 = s1, s2
    return (sm1, sm2, m)

In [195]:
#stations.groupby('loco_region')['name'].unique()
d = dict(list(stations.groupby('loco_region')['name']))
res = []
for key in d.keys():
    sts = d[key]
    m = 0
    sm1, sm2 = '', ''
    for s1 in sts:
        for s2 in sts:
            m1 = all_lengths[s1][s2]
            if m1 > m: 
                m = m1
                sm1, sm2 = s1, s2
    #print(key, sm1, sm2, np.round(m / 3600, 2))
    res.append([key, sm1, sm2, np.round(m / 3600, 2)])
    
reg_lens = pd.DataFrame(res, columns = ['region', 'st_from', 'st_to', 'max_tt']).sort_values('max_tt', ascending=False)

In [196]:
regions_stoplist = [2002119322, 2002119323, 2002119314, 2002119316, 2002119297]
reg_lens = reg_lens[reg_lens.region.isin(regions_stoplist) == False]
loco_reg_names = pd.read_csv(FOLDER + 'mandatory/loco_reg_names.csv')
reg_lens['reg_name'] = reg_lens.region.map(loco_reg_names.set_index('region').reg_name_str)
reg_lens

,region,st_from,st_to,max_tt,reg_name
6,2002119307,КОМСОМОЛЬСК-НА-АМУРЕ II,ТАКСИМО,65.19,NaN
2,2002119299,МАРИИНСК,БОРЗЯ,56.33,['БОРЗЯ' 'МАРИИНСК']
3,2002119301,ТАКСИМО,МЕЖДУРЕЧЕНСК,53.10,['МЕЖДУРЕЧЕНСК' 'ТАКСИМО']
24,2002119294,КАРЫМСКАЯ,ХАБАРОВСК II,44.49,['КАРЫМСКАЯ' 'ХАБАРОВСК II']
0,2002119296,СОВЕТСКАЯ ГАВАНЬ- ГОРОД,ВОЛОЧАЕВКА II,25.57,['КОМСОМОЛЬСК-НА-АМУРЕ' 'СОВЕТСКАЯ ГАВАНЬ- ГОР...
4,2002119303,ТЫНДА,ТАКСИМО,24.67,['ТАКСИМО' 'ТЫНДА']
12,2002119317,СКОВОРОДИНО,НЕРЮНГРИ-ГРУЗОВАЯ,14.39,['СКОВОРОДИНО' 'ТЫНДА']
23,2002119292,ГРОДЕКОВО (КИТАЙ),ХАСАН,12.49,['ГРОДЕКОВО (КИТАЙ)' 'ХАСАН']
14,2002119320,КРУГЛИКОВО,СМОЛЯНИНОВО,12.40,['СМОЛЯНИНОВО' 'ХАБАРОВСК II']
18,2002119284,КИЯ-ШАЛТЫРЬ,ЧЕРНОГОРСКИЕ КОПИ,11.52,NaN
5,2002119305,ЧЕГДОМЫН,ИЗВЕСТКОВАЯ,10.63,['ИЗВЕСТКОВАЯ' 'НОВЫЙ УРГАЛ']
21,2002119288,СОЛОВЬЕВСК,ПРИАРГУНСК,9.88,['БОРЗЯ' 'ЗАБАЙКАЛЬСК']
7,2002119308,КАРАБУЛА,РЕШОТЫ,7.16,['КАРАБУЛА' 'РЕШОТЫ']
8,2002119310,НОВОКАЧАЛИНСК,НОВОЧУГУЕВКА,7.13,['НОВОКАЧАЛИНСК' 'НОВОЧУГУЕВКА']
19,2002119286,ЛЕСОСИБИРСК,НОВАЯ ЕЛОВКА,6.73,['АЧИНСК I' 'ЛЕСОСИБИРСК']
13,2002119318,УЛАН-УДЭ,НАУШКИ,6.44,['НАУШКИ' 'УЛАН-УДЭ']
22,2002119290,ХОЛОДНЫЙ КЛЮЧ,ПОЯРКОВО,5.38,NaN
9,2002119312,МЫС АСТАФЬЕВА,ДУНАЙ,5.26,['НАХОДКА-ВОСТОЧНАЯ' 'СМОЛЯНИНОВО']
20,2002119287,БЕЛОГОРСК,БЛАГОВЕЩЕНСК,4.08,NaN
17,2002119282,АСКИЗ,АБАЗА,1.73,NaN

In [197]:
res_start = train_plan[train_plan.train_type == 8].drop_duplicates('train')
res_end = train_plan[train_plan.train_type == 8].drop_duplicates('train', keep='last')
res = res_start[['train', 'st_from_name', 'time_start', 'time_start_norm']].set_index('train').join(res_end[['train', 'st_to_name', 'time_end', 'time_end_norm']].set_index('train'))
res['tt'] = res.time_end - res.time_start
sns.set(style='whitegrid', context='notebook')
#sns.kdeplot(res.tt / 3600, shade=True)
#l = len(res.tt.index)

In [198]:
res['slot_tt'] = res.apply(lambda row: all_lengths[row.st_from_name][row.st_to_name], axis=1)
res['above'] = res.tt / res.slot_tt - 1
a = res[res.slot_tt > 16 * 3600]
a.sort_values('slot_tt', ascending=False)[['st_from_name', 'st_to_name', 'slot_tt', 'above']].drop_duplicates(subset=['st_from_name', 'st_to_name'])

,st_from_name,st_to_name,slot_tt,above
train,,,,
88880015664347,БИРА,ИРКУТСК-СОРТИРОВОЧНЫЙ,222239,0.033297
88880017984351,СМОЛЯНИНОВО,ТАКСИМО,217001,0.182488
88880014684765,БИРА,АНГАСОЛКА,215095,0.053056
88880017054836,МАРИИНСК,КАРЫМСКАЯ,180302,0.154441
88880002264891,КАРЫМСКАЯ,МАРИИНСК,177646,0.269671
88880019544894,БОГОТОЛ,КАРЫМСКАЯ,170798,0.177853
88880015444798,КАДАЛА,ХАБАРОВСК II,169335,0.272590
88880017054842,АЧИНСК I,КАРЫМСКАЯ,166315,0.171632
88880018354637,ЧИТА I,РУДНОГОРСК,159935,0.100716
88880017404652,АБАКАН,ТАКСИМО,156287,0.176349
88880019864877,ВОЛОЧАЕВКА II,КАРЫМСКАЯ,155698,0.130997
88880015444817,БИРА,ОЛОВЯННАЯ,155654,0.057461
88880019454536,КРАСНОЯРСК-ВОСТОЧНЫЙ,КАРЫМСКАЯ,150968,0.045824
88880015444857,БИРА,КАРЫМСКАЯ,145106,0.031784
88880019614255,ИЗВЕСТКОВАЯ,КАРЫМСКАЯ,139993,0.127106
88880017324337,ОБЛУЧЬЕ,КАРЫМСКАЯ,136673,0.183028
88880017254716,МЕЖДУРЕЧЕНСК,КИРЕНГА,135673,0.142195
88880014724465,ТАКСИМО,САЯНСКАЯ,134471,0.242283
88880019454532,ИЛАНСКАЯ,КАРЫМСКАЯ,134001,0.066134
88880002264893,УЛАН-УДЭ,МАРИИНСК,129681,0.217094
88880002274235,НОВЫЙ УОЯН,ЧЕРЕМХОВО,129090,0.252824
88880002274207,ЕРОФЕЙ ПАВЛОВИЧ,СЛЮДЯНКА I,126108,0.297150
88880005654835,ПОСТЫШЕВО,ТЫНДА,126013,0.112512
88880019454528,БОГОТОЛ,УЛАН-УДЭ,122063,0.205230
88880019094292,МЕЖДУРЕЧЕНСК,ЛЕНА,121928,0.147858
...,...,...,...,...
88880017254708,САЯНСКАЯ,РУДНОГОРСК,67204,0.130498
88880005654843,ФЕВРАЛЬСК,ТЫНДА,67070,0.042031
88880014444211,КАДАЛА,ИРКУТСК-СОРТИРОВОЧНЫЙ,67059,0.234107
88880019094267,ИЗВЕСТКОВАЯ,СКОВОРОДИНО,66402,0.235731
88880018884665,ЧИТА I,ГОНЧАРОВО,66352,0.045138
88880018204806,БОГОТОЛ,ТУЛУН,66315,0.027234
88880009754315,УРУША,КАРЫМСКАЯ,65987,0.337188
88880017744337,ОБЛУЧЬЕ,ГОРЕЛЫЙ,65413,0.308287
88880007634612,СКОВОРОДИНО,ИЗВЕСТКОВАЯ,64628,0.234945
88880008014333,ИРКУТСК-СОРТИРОВОЧНЫЙ,УЯР,64036,0.293194
88880014444243,КИРЕНГА,ТАЙШЕТ,63967,0.253881
88880014444224,САЯНСКАЯ,ИРКУТСК-СОРТИРОВОЧНЫЙ,63942,0.884520
88880002274215,ВИХОРЕВКА,ГОНЧАРОВО,63582,0.734783
88880003684853,СКОВОРОДИНО,ШИЛКА-ТОВАРНАЯ,63572,0.023926
88880014434815,БУРЕЯ,ЕРОФЕЙ ПАВЛОВИЧ,63334,1.015331
88880014834445,МЕГЕТ,УЯР,62743,0.625855
88880019094282,АЧИНСК I,ТУЛУН,61832,0.016480
88880014684737,ВИХОРЕВКА,ИРКУТСК-СОРТИРОВОЧНЫЙ,61725,0.468335
88880008014321,ИРКУТСК-СОРТИРОВОЧНЫЙ,ЗАОЗЕРНАЯ,61669,0.379494
88880015514444,ВОЛОЧАЕВКА II,ВЫСОКОГОРНАЯ,60542,0.271365
88880014514273,ТАЙШЕТ,КАМЫШТА,59890,0.653064
88880015664355,ЧИТА I,СЛЮДЯНКА I,58727,0.020672
88880016834865,ЕРОФЕЙ ПАВЛОВИЧ,КАРЫМСКАЯ,58280,0.235947
88880001164503,БИРА,МАГДАГАЧИ,58225,0.043263
88880014434823,ВЕРХНЕЗЕЙСК,НЕРЮНГРИ-ГРУЗОВАЯ,57639,0.354291

In [200]:
serv = pd.read_csv(FOLDER + 'service_station.csv', dtype={'station':str})
serv['st_name'] = serv.station.map(st_names.name)
serv_ac = serv[serv.ptype == 'ac']
serv_ac[serv_ac.st_name == 'МАГДАГАЧИ'].duration.mean()
serv[serv.ptype.isin(['ac', 'diesel'])].groupby(['ptype', 'priority', 'st_name']).duration.mean().apply(lambda x: np.round(x))

ptype   priority  st_name
ac      1         АБАКАН                                11460
                  БОРЗЯ                                 11460
                  ИРКУТСК-СОРТИРОВОЧНЫЙ                 11460
                  КРАСНОЯРСК-ВОСТОЧНЫЙ                  11460
                  МАРИИНСК                              11460
                  МЕЖДУРЕЧЕНСК                          11460
                  СМОЛЯНИНОВО                           11460
                  ТАКСИМО                               11460
                  УРУША                                 11460
                  ХАБАРОВСК II                          11460
        2         АЧИНСК I                              11460
                  БЕЛОГОРСК                             11460
                  БОГОТОЛ                               11460
                  ВИХОРЕВКА                             11460
                  ЗИМА                                  11460
                  ИЛАНСКАЯ                              11460
                  КАРЫМСКАЯ                             11460
                  КОРШУНИХА-АНГАРСКАЯ                   11460
                  ЛЕНА                                  11460
                  МАГДАГАЧИ                             11460
                  МОГОЧА                                11460
                  НИЖНЕУДИНСК                           11460
                  САЯНСКАЯ                              11460
                  СЕВЕРОБАЙКАЛЬСК                       11460
                  СКОВОРОДИНО                           11460
                                                        ...
diesel  1         БЕЛОГОРСК                             11372
                  БЛАГОВЕЩЕНСК                          11372
                  БОРЗЯ                                 11372
                  ГВОЗДЕВО                              11372
                  ГРОДЕКОВО                             11372
                  КОМСОМОЛЬСК-НА-АМУРЕ-СОРТИРОВОЧНЫЙ    11372
                  ЛЕСОСИБИРСК                           11372
                  НАУШКИ                                11372
                  НОВАЯ ЧАРА                            11372
                  НОВЫЙ УРГАЛ                           11372
                  СИБИРЦЕВО                             11372
                  СМОЛЯНИНОВО                           11372
                  ТАКСИМО                               11372
                  ТЫНДА                                 11372
                  УЖУР                                  11372
                  УЛАН-УДЭ                              11372
                  УССУРИЙСК                             11372
        2         БЕРКАКИТ                              11372
                  ВАНИНО                                11372
                  ВЕРХНЕЗЕЙСК                           11372
                  ВЫСОКОГОРНАЯ                          11372
                  ЗАБАЙКАЛЬСК                           11372
                  НАХОДКА-ВОСТОЧНАЯ                     11372
                  ПОСТЫШЕВО                             11372
                  ФЕВРАЛЬСК                             11372
Name: duration, dtype: float64

In [201]:
loco_plan['tt'] = loco_plan.time_end - loco_plan.time_start
loco_plan[loco_plan.state == 4].groupby('st_from_name').loco.count()

st_from_name
АБАКАН                    20
БОГОТОЛ                   50
ВИХОРЕВКА                 10
ЗИМА                       9
ИЛАНСКАЯ                  25
ИРКУТСК-СОРТИРОВОЧНЫЙ     19
КОМСОМОЛЬСК-НА-АМУРЕ      31
МАГДАГАЧИ                154
НИЖНЕУДИНСК               14
НОВАЯ ЧАРА                 3
НОВЫЙ УРГАЛ                8
СЕВЕРОБАЙКАЛЬСК            6
СМОЛЯНИНОВО               39
ТЫНДА                     29
УЛАН-УДЭ                  23
ЧИТА I                    57
Name: loco, dtype: int64

In [202]:
loco_plan['ser_name'] = loco_plan.series.map(loco_series.set_index('ser_id').ser_name)
cols = ['loco', 'series', 'sections', 'ser_name', 'st_from_name', 'st_to_name', 'time_start_norm', 'time_end_norm', 'state', 'train']
loco_plan[(loco_plan.state == 4) & (loco_plan.st_from_name == 'МАГДАГАЧИ')][cols].head()

,loco,series,sections,ser_name,st_from_name,st_to_name,time_start_norm,time_end_norm,state,train
175,200200077873,2001889459,3,3ЭС5К,МАГДАГАЧИ,МАГДАГАЧИ,"Jul 07, 19:02","Jul 07, 19:56",4,-1
553,200200074739,2001889459,3,3ЭС5К,МАГДАГАЧИ,МАГДАГАЧИ,"Jul 08, 23:54","Jul 09, 00:48",4,-1
657,200200097043,2001889459,3,3ЭС5К,МАГДАГАЧИ,МАГДАГАЧИ,"Jul 09, 10:14","Jul 09, 11:08",4,-1
829,200200089912,2001889459,3,3ЭС5К,МАГДАГАЧИ,МАГДАГАЧИ,"Jul 09, 04:13","Jul 09, 05:07",4,-1
1166,200200036056,2001889459,3,3ЭС5К,МАГДАГАЧИ,МАГДАГАЧИ,"Jul 08, 04:24","Jul 08, 05:18",4,-1

In [203]:
cols = ['loco', 'ser_name', 'sections', 'st_from_name', 'st_to_name', 'time_start_norm', 'time_end_norm', 'state', 'train']
with pd.option_context('display.max_colwidth', 15):
    nice_print(loco_plan[loco_plan.loco == '200200036395'], cols, num=False)

         loco ser_name  sections    st_from_name      st_to_name time_start_norm  time_end_norm  state           train
 200200036395    ВЛ80Р         2          ТАЙШЕТ           ТОРЕЯ   Jul 06, 03:59  Jul 06, 08:06      1    210256204061
 200200036395    ВЛ80Р         2           ТОРЕЯ           ТУРМА   Jul 06, 08:06  Jul 06, 09:05      1    210256204061
 200200036395    ВЛ80Р         2           ТУРМА       ВИХОРЕВКА   Jul 06, 09:05  Jul 06, 09:35      1    210256204061
 200200036395    ВЛ80Р         2       ВИХОРЕВКА           ТУРМА   Jul 06, 13:07  Jul 06, 13:43      0  88880002274215
 200200036395    ВЛ80Р         2           ТУРМА           ТОРЕЯ   Jul 06, 13:43  Jul 06, 14:27      0  88880002274215
 200200036395    ВЛ80Р         2           ТОРЕЯ          ТАЙШЕТ   Jul 06, 14:27  Jul 06, 17:57      0  88880002274215
 200200036395    ВЛ80Р         2          ТАЙШЕТ      БАЙРОНОВКА   Jul 06, 20:15  Jul 06, 20:36      0  88880002274215
 200200036395    ВЛ80Р         2      БАЙРОНОВКА         АЛЗАМАЙ   Jul 06, 20:36  Jul 06, 21:30      0  88880002274215
 200200036395    ВЛ80Р         2         АЛЗАМАЙ     НИЖНЕУДИНСК   Jul 06, 21:30  Jul 06, 23:14      0  88880002274215
 200200036395    ВЛ80Р         2     НИЖНЕУДИНСК          УДА II   Jul 07, 06:03  Jul 07, 06:18      0  88880002274215
 200200036395    ВЛ80Р         2          УДА II           ТУЛУН   Jul 07, 06:18  Jul 07, 08:14      0  88880002274215
 200200036395    ВЛ80Р         2           ТУЛУН            АЗЕЙ   Jul 07, 08:14  Jul 07, 08:47      0  88880002274215
 200200036395    ВЛ80Р         2            АЗЕЙ          КУЙТУН   Jul 07, 08:47  Jul 07, 09:48      0  88880002274215
 200200036395    ВЛ80Р         2          КУЙТУН         ПЕРЕВОЗ   Jul 07, 09:48  Jul 07, 10:40      0  88880002274215
 200200036395    ВЛ80Р         2         ПЕРЕВОЗ            ЗИМА   Jul 07, 10:40  Jul 07, 10:56      0  88880002274215
 200200036395    ВЛ80Р         2            ЗИМА          ЗАЛАРИ   Jul 07, 11:36  Jul 07, 12:43      0  88880002274215
 200200036395    ВЛ80Р         2          ЗАЛАРИ       ЧЕРЕМХОВО   Jul 07, 12:43  Jul 07, 14:09      0  88880002274215
 200200036395    ВЛ80Р         2       ЧЕРЕМХОВО      КАСЬЯНОВКА   Jul 07, 14:09  Jul 07, 14:26      0  88880002274215
 200200036395    ВЛ80Р         2      КАСЬЯНОВКА          МАЛЬТА   Jul 07, 14:26  Jul 07, 15:08      0  88880002274215
 200200036395    ВЛ80Р         2          МАЛЬТА           КИТОЙ   Jul 07, 15:08  Jul 07, 15:41      0  88880002274215
 200200036395    ВЛ80Р         2           КИТОЙ         АНГАРСК   Jul 07, 15:41  Jul 07, 15:47      0  88880002274215
 200200036395    ВЛ80Р         2         АНГАРСК       СУХОВСКАЯ   Jul 07, 15:47  Jul 07, 16:01      0  88880002274215
 200200036395    ВЛ80Р         2       СУХОВСКАЯ           МЕГЕТ   Jul 07, 16:01  Jul 07, 16:15      0  88880002274215
 200200036395    ВЛ80Р         2           МЕГЕТ      БАТАРЕЙНАЯ   Jul 07, 16:15  Jul 07, 16:23      0  88880002274215
 200200036395    ВЛ80Р         2      БАТАРЕЙНАЯ  ИРКУТСК-СОР...   Jul 07, 16:23  Jul 07, 16:34      0  88880002274215
 200200036395    ВЛ80Р         2  ИРКУТСК-СОР...       ГОНЧАРОВО   Jul 07, 19:15  Jul 07, 19:46      0  88880002274215
 200200036395    ВЛ80Р         2       ГОНЧАРОВО  ИРКУТСК-СОР...   Jul 08, 10:25  Jul 08, 10:53      0  88880020124237

In [204]:
def get_reg_name(l):
    l_big = [st for st in l if st in big_st]
    if len(l_big) == 2:
        ret = l_big
    elif len(l_big) > 2:
        st1, st2, length = get_longest_pair(l_big, all_lengths)
        ret = [st1, st2]
    else:
        st1, st2, length = get_longest_pair(l, all_lengths)
        ret = [st1, st2]
    return ret[0] + ' - ' + ret[1]        

team_region = pd.read_csv(FOLDER + 'team_region.csv', dtype={'st_from':str, 'st_to':str, 'depot':str})
add_info(team_region)
big_st = stations[stations.norm_time > 0].name.unique()
team_region['depot_name'] = team_region.depot.map(st_names.name)
team_region['reg_name'] = team_region.team_region\
                            .map(team_region.groupby('team_region').st_from_name.unique().apply(get_reg_name))

cols_tracks = ['team_region', 'asoup', 'depot', 'depot_name', 'st_from_name', 'st_to_name', 'reg_name']
cols_times = ['team_region', 'asoup', 'depot', 'depot_name', 'time_f', 'time_b', 'time_wr']

In [273]:
# добавим локомотивам атрибут power_type

def get_power_type(x):
    if x == '-1':
        return -1
    elif 'ТЭ' in x:
        return 'diesel'
    elif ('ВЛ8' in x) | ('ЭС5К' in x):
        return 'ac'
    else:
        return 'dc'

def get_mess(row):
    regs = literal_eval(row.regions)
    regions = ''
    for r in regs:
        regions += 'id(%s),' % r
    if len(regions) > 0: regions=regions[:-1]
    s = '+loco_attributes(id(%s),attributes([series(%s),loco_regions([%s]),depot(station(%s)),sections(%d),type(%d),power_type(%s)]))' \
        % (row.loco, row.series, regions, row.depot, row.sections, row.ltype, row.power_type)
    return s
    
loco_info.ser_name.fillna('-1', inplace=True)
loco_info['power_type'] = loco_info.ser_name.apply(get_power_type)
loco_info[['loco', 'ser_name', 'power_type']]
a = loco_info[loco_info.ltype == 1].groupby('power_type').ser_name.unique()
for t in a.index:
    print(t, sorted(a[t]))
    
loco_info['message'] = loco_info.apply(get_mess, axis=1)
cols = ['loco', 'series', 'regions', 'depot', 'sections', 'ltype', 'power_type', 'message']
loco_info[cols]
with open(FOLDER + 'others/loco_info_power_type.txt', 'w') as f:
    for m in loco_info.message.values:
        f.write(m)
        f.write('\n')
f.close()

-1 ['-1']
ac ['2ЭС5К', '3ЭС5К', 'ВЛ80Р', 'ВЛ80С', 'ВЛ80Т', 'ВЛ80ТК', 'ВЛ85']
diesel ['2ТЭ10В', '2ТЭ10Л', '2ТЭ10М', '2ТЭ10МК', '2ТЭ10У', '2ТЭ10УК', '2ТЭ25А', '3ТЭ10М', '3ТЭ10МК', '3ТЭ10У', '3ТЭ10УК']

In [274]:
slot

,slot,st_from,st_to,link,time_start,time_end,time
0,210255253494,2000036204,2000036192,"(2000036204, 2000036192)",1467737460,1467746700,9240
1,210255253494,2000036192,2000036154,"(2000036192, 2000036154)",1467753000,1467767220,14220
2,210255253494,2000036154,2000036218,"(2000036154, 2000036218)",1467775260,1467776640,1380
3,210255253494,2000036218,2000036142,"(2000036218, 2000036142)",1467776640,1467778860,2220
4,210255253494,2000036142,2000036136,"(2000036142, 2000036136)",1467779640,1467783240,3600
5,210255253494,2000036136,2000036128,"(2000036136, 2000036128)",1467783240,1467790680,7440
6,210255253494,2000036128,2000036126,"(2000036128, 2000036126)",1467791400,1467795120,3720
7,210255253494,2000036126,2000039646,"(2000036126, 2000039646)",1467795120,1467796620,1500
8,210255253494,2000039646,2000036124,"(2000039646, 2000036124)",1467797580,1467798480,900
9,210255253494,2000036124,2000036120,"(2000036124, 2000036120)",1467800880,1467803400,2520
10,210255253494,2000036120,2000036122,"(2000036120, 2000036122)",1467804420,1467806460,2040
11,210255253494,2000036122,2000036954,"(2000036122, 2000036954)",1467806460,1467808380,1920
12,210255253494,2000036954,2000036950,"(2000036954, 2000036950)",1467808380,1467808800,420
13,210255253494,2000036950,2000036932,"(2000036950, 2000036932)",1467808800,1467809640,840
14,210255253494,2000036932,2000036872,"(2000036932, 2000036872)",1467817800,1467828000,10200
15,210255253494,2000036872,2000036868,"(2000036872, 2000036868)",1467828000,1467830040,2040
16,210255253494,2000036868,2000036904,"(2000036868, 2000036904)",1467834900,1467849180,14280
17,210255253494,2000036904,2000036902,"(2000036904, 2000036902)",1467849180,1467850140,960
18,210255253494,2000036902,2000036894,"(2000036902, 2000036894)",1467850140,1467851520,1380
19,210255253494,2000036894,2000036800,"(2000036894, 2000036800)",1467851520,1467852840,1320
20,210255253494,2000036800,2000036796,"(2000036800, 2000036796)",1467852840,1467853920,1080
21,210255253494,2000036796,2000036792,"(2000036796, 2000036792)",1467859740,1467861660,1920
22,210255253494,2000036792,2000036784,"(2000036792, 2000036784)",1467863040,1467865920,2880
23,210255253494,2000036784,2000036518,"(2000036784, 2000036518)",1467866520,1467879240,12720
24,210255253500,2000037398,2000037404,"(2000037398, 2000037404)",1467747900,1467748980,1080
...,...,...,...,...,...,...,...
58498,210256364199,2000038610,2000038600,"(2000038610, 2000038600)",1467924000,1467925320,1320
58499,210256364198,2000035194,2000035112,"(2000035194, 2000035112)",1467924060,1467925620,1560
58500,210256264274,2000038894,2000038884,"(2000038894, 2000038884)",1467924120,1467924780,660
58501,210256364201,2000038600,2000038598,"(2000038600, 2000038598)",1467924240,1467925200,960
58502,210256364203,2000036422,2000036426,"(2000036422, 2000036426)",1467924240,1467925740,1500
58503,210256364204,2000035782,2000035896,"(2000035782, 2000035896)",1467924360,1467925200,840
58504,210256364206,2000035566,2000035552,"(2000035566, 2000035552)",1467924420,1467924960,540
58505,210256364206,2000035552,2000035544,"(2000035552, 2000035544)",1467924960,1467925920,960
58506,210256364214,2000035566,2000035552,"(2000035566, 2000035552)",1467924420,1467924960,540
58507,210256364214,2000035552,2000035544,"(2000035552, 2000035544)",1467924960,1467925920,960
58508,210256264276,2000035632,2000035622,"(2000035632, 2000035622)",1467924480,1467925260,780
58509,210256364213,2000038634,2000038624,"(2000038634, 2000038624)",1467924480,1467925800,1320
58510,210256264273,2000037064,2000037074,"(2000037064, 2000037074)",1467924540,1467925500,960
58511,210256364208,2000038372,2000038358,"(2000038372, 2000038358)",1467924600,1467926820,2220
58512,210256364210,2000035110,2000035112,"(2000035110, 2000035112)",1467924600,1467926340,1740
58513,210256364212,2000038358,2000038372,"(2000038358, 2000038372)",1467924600,1467926700,2100
58514,210256364215,2000035110,2000035112,"(2000035110, 2000035112)",1467924600,1467926100,1500
58515,210256364219,2000037064,2000037070,"(2000037064, 2000037070)",1467924600,1467925440,840
58516,210256364217,2000038022,2000038028,"(2000038022, 2000038028)",1467924660,1467925320,660
58517,210256364220,2000037746,2000037754,"(2000037746, 2000037754)",1467924720,1467925860,1140
58518,210256364216,2000036300,2000036004,"(2000036300, 2000036004)",1467924780,1467926040,1260
58519,210256364221,2000038624,2000038634,"(2000038624, 2000038634)",1467924780,1467926040,1260
58520,210256364229,2000037012,2000036992,"(2000037012, 2000036992)",1467924900,1467926400,1500
58521,210256364228,2000036518,2000036546,"(2000036518, 2000036546)",1467925020,1467926280,1260
58522,210256364227,2000035782,2000035896,"(2000035782, 2000035896)",1467925140,1467925980,840