In [9]:
%run common.py

Planning start time: Aug 04, 19:31 (1470328276)

In [10]:
'''
    Examples:
    al = pd.read_csv(FOLDER + '/mandatory/travel_times_all_pairs.csv', sep=';')
    get_longest_pair(['МАРИИНСК', 'ИЛАНСКАЯ', 'ИРКУТСК-СОРТИРОВОЧНЫЙ', 'РЕШОТЫ'], al.set_index(['st_from_name', 'st_to_name']))
    
    => Out[460]: ('МАРИИНСК', 'ИРКУТСК-СОРТИРОВОЧНЫЙ', 94170)
    
    get_longest_pair(['МАРИИНСК', 'ИЛАНСКАЯ', 'РЕШОТЫ', 'ИРКУТСК-СОРТИРОВОЧНЫЙ'], nx.all_pairs_dijkstra_path_length(g))
    
    => Out[460]: ('МАРИИНСК', 'ИРКУТСК-СОРТИРОВОЧНЫЙ', 94170)    
'''

def get_longest_pair(st_list, lengths):
    sm1, sm2 = '', ''
    m = 0
    for s1 in st_list:
        for s2 in st_list:
            if type(lengths) == dict:
                l = lengths[s1][s2]
            elif type(lengths) == pd.DataFrame:
                l = lengths.ix[s1, s2].values[0]
            else: l = 0
            if l > m:
                m = l
                sm1, sm2 = s1, s2
    return (sm1, sm2, m)

In [11]:
# prev_team = pd.read_csv(FOLDER + 'prev_team.csv', dtype={'team':str})
# prev_team.to_csv('prev_team2330.csv')

In [15]:
prev_team = pd.read_csv('prev_team2330.csv', dtype={'team':str})
prev_team.columns = ['ind', 'team', 'prev_time']
prev_team.drop('ind', axis=1, inplace=True)

In [30]:
team_plan['prev_time'] = team_plan.team.map(prev_team.set_index('team').prev_time)
a = team_plan[team_plan.state == 2].drop_duplicates('team')[['team', 'time_start', 'time_end', 'prev_time']]
a[a.time_end != a.prev_time]
#team_plan[team_plan.team == '200200242608'][['team', 'time_start', 'time_end', 'state']]

               team  time_start    time_end   prev_time
165    200200127736  1470302400  1470304812         NaN
527    200200251329  1470321648  1470326400         NaN
528    200200242592  1470294960  1470297372         NaN
558    200200206726  1470278041  1470285600         NaN
591    200200242608  1470256800  1470259572  1470343200
697    200200206778  1470271320  1470279600         NaN
768    200200163927  1470174799  1470178380         NaN
769    200200171590  1470268800  1470272400         NaN
833    200200163895  1470306600  1470310200         NaN
941    200200121088  1470311100  1470313512         NaN
1007   220207259454  1470303648  1470308400         NaN
1020   200200112276  1470299508  1470305880         NaN
1071   200200171938  1470295200  1470297612         NaN
1107   200200250979  1470257520  1470261840         NaN
1243   200200233668  1470260400  1470264000         NaN
1245   200200277483  1470292794  1470296880         NaN
1306   200200112361  1470282000  1470286770         NaN
1313   200200082042  1470254748  1470261120         NaN
1482   200200251076  1470274800  1470277842         NaN
1496   200200206523  1470301200  1470303972         NaN
1703   200200224813  1470287400  1470290496         NaN
1912   200200198495  1470319320  1470327600         NaN
2009   200200260207  1470272400  1470276000         NaN
2031   200217733465  1470290640  1470311880         NaN
2082   200200260102  1470315841  1470323400         NaN
...             ...         ...         ...         ...
35815  200200106859  1470290100  1470293142         NaN
35887  200200178279  1470302100  1470308472         NaN
35893  210213617502  1470313800  1470316140         NaN
35925  200200241066  1470297600  1470301200         NaN
36159  200200255653  1470299400  1470301812         NaN
36305  200200247986  1470322800  1470325212         NaN
36381  200200133529  1470298200  1470304842  1470356100
36495  200200171490  1470323448  1470327300         NaN
36506  200200178002  1470269419  1470273000         NaN
36518  220203913055  1470274830  1470279600         NaN
36557  200200133585  1470270000  1470273096  1470359400
36581  200200247866  1470282600  1470284940  1470331800
36590  200200240281  1470302760  1470306360         NaN
36627  200200208522  1470298800  1470301212         NaN
36653  200200186513  1470264048  1470265200         NaN
36681  200200162363  1470296400  1470302340         NaN
36686  200200248316  1470319800  1470322212         NaN
36736  200200240460  1470289248  1470290400         NaN
36893  220202270699  1470298800  1470301212         NaN
36902  200200255937  1470319200  1470322800  1470351000
37101  200200263208  1470288000  1470293940         NaN
37174  200200140992  1470283519  1470287100         NaN
37305  200200217589  1470282300  1470285342         NaN
37320  200200158274  1470297000  1470299340         NaN
37350  200200098677  1470300000  1470303600         NaN

[802 rows x 4 columns]