In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [21]:
lines = []
trains, locos, teams, others = [], [], [], []
with open('./input/20160719_172108/event.log') as f:
    for line in f:
        a = line[:-1].split('\t')
        if 'Train' in a[0]:
            train_id = a[0].split(' ')[1]
            route_ind = a[1]
            b = a[2].split('{')
            event_type = b[0]
            event_info = b[1][:-1]
            sp = event_info.split(', ')
            if len(sp) == 1:
                step = 'pred'
                times = sp[0]
                loco, team = -1, -1
            else:
                step = sp[0]
                times = sp[1]
                if len(sp) == 2:
                    loco, team == -1, -1
                elif len(sp) == 3:
                    loco, team = sp[2][2:], -1
                else:
                    loco, team = sp[2][2:], sp[3][2:]
            spsp = [i.split('@') for i in times.split(' ? ')]
            if len(spsp[0]) == 2:
                st_from, time_start = spsp[0][0], spsp[0][1]
            else:
                st_from, time_start = spsp[0][0], -1
            if len(spsp) == 2:
                if len(spsp[1]) == 2:
                    st_to, time_end = spsp[1][0], spsp[1][1]
                else:
                    st_to, time_end = spsp[1][0], -1
            else:
                st_to, time_end = -1, -1
                
            trains.append([train_id, route_ind, event_type, step, st_from, time_start, st_to, time_end, loco, team])
        elif 'Loco' in a[0]:
            locos.append(a)
        elif 'Team' in a[0]:
            teams.append(a)
        else:
            others.append(a)
        
print(trains[:10])

[['200020028984', '0', 'TrainDepartEvent', 'pred', '2000038072', '1468578900', '2000038088', -1, -1, -1], ['200020028984', '0', 'AssignEvent', '#0-0-0', '2000038072', '1468578900', '2000038088', '1468587050', -1, -1], ['200020028984', '0', 'AssignEvent', '#0-0-0', '2000038072', '1468578900', '2000038088', '1468587050', '200200082868', -1], ['200020028984', '1', 'AssignEvent', '#0-0-0', '2000038088', '1468587050', '2000038102', '1468594550', '200200082868', -1], ['200020028984', '1', 'AssignEvent', '#0-0-0', '2000038088', '1468587050', '2000038102', '1468594550', '200200082868', -1], ['200020028984', '2', 'AssignEvent', '#0-0-0', '2000038102', '1468594550', '2000038130', '1468599530', '200200082868', -1], ['200020028984', '2', 'AssignEvent', '#0-0-0', '2000038102', '1468594550', '2000038130', '1468599530', '200200082868', -1], ['200020028984', '3', 'AssignEvent', '#0-0-0', '2000038130', '1468599530', '2000038132', '1468599950', '200200082868', -1], ['200020028984', '3', 'AssignEvent', '#0-0-0', '2000038130', '1468599530', '2000038132', '1468599950', '200200082868', -1], ['200020028984', '4', 'AssignEvent', '#0-0-0', '2000038132', '1468599950', '2000038138', '1468601826', '200200082868', -1]]

In [24]:
df = pd.DataFrame(trains, columns = ['train', 'ind', 'event', 'step', 'st_from', 'time_start', 'st_to', 'time_end', 'loco', 'team'])

In [28]:
df.head()

,train,ind,event,step,st_from,time_start,st_to,time_end,loco,team
0,200020028984,0,TrainDepartEvent,pred,2000038072,1468578900,2000038088,-1,-1,-1
1,200020028984,0,AssignEvent,#0-0-0,2000038072,1468578900,2000038088,1468587050,-1,-1
2,200020028984,0,AssignEvent,#0-0-0,2000038072,1468578900,2000038088,1468587050,200200082868,-1
3,200020028984,1,AssignEvent,#0-0-0,2000038088,1468587050,2000038102,1468594550,200200082868,-1
4,200020028984,1,AssignEvent,#0-0-0,2000038088,1468587050,2000038102,1468594550,200200082868,-1

In [47]:
lines = []
with open('input/20160719_172108/System.out.log.2') as f:
    for line in f:        
        sp = line[:-1].split(' - ')
        sp1 = sp[0].strip().find(' ')
        t = sp[0].strip()[:sp1]
        code = sp[0].strip()[sp1+1:]
        text = sp[1]
        lines.append([t, code, text])
        
df = pd.DataFrame(lines, columns=['level', 'src', 'text'])
df.head()

  level                src                                            text
0  WARN  SchedulingData:93  Не удалось инициализировать поезд 200022014751
1  WARN  SchedulingData:93  Не удалось инициализировать поезд 200021944946
2  WARN  SchedulingData:93  Не удалось инициализировать поезд 200021987388
3  WARN  SchedulingData:93  Не удалось инициализировать поезд 200022050183
4  WARN  SchedulingData:93  Не удалось инициализировать поезд 200021934890

In [48]:
df.level.value_counts()

WARN     5729
INFO     4233
ERROR       5
Name: level, dtype: int64

In [49]:
pd.set_option('display.max_colwidth', 100)
df[df.level == 'ERROR']

,level,src,text
5527,ERROR,Relocations:254,Недостаточно ресурсов для выполнения регулировочного задания 1468508400 в нечётном направлении п...
5530,ERROR,Relocations:254,Недостаточно ресурсов для выполнения регулировочного задания 1468508400 в нечётном направлении п...
5533,ERROR,Relocations:254,Недостаточно ресурсов для выполнения регулировочного задания 1468508400 в нечётном направлении п...
5536,ERROR,Relocations:254,Недостаточно ресурсов для выполнения регулировочного задания 1468508400 в нечётном направлении п...
5539,ERROR,Relocations:254,Недостаточно ресурсов для выполнения регулировочного задания 1468508400 в нечётном направлении п...

In [57]:
df['fail_init'] = df.text.apply(lambda x: x.split()[3] if 'инициализировать' in x else -1)
df[df.fail_init != -1].fail_init.value_counts()

бригаду      61
локомотив    52
поезд        12
Name: fail_init, dtype: int64

In [60]:
df['fail_loco_reg'] = df.text.apply(lambda x: x.split()[1] if 'отнесён' in x else -1)
df[df.fail_loco_reg != -1].head()

,level,src,text,fail_init,fail_loco_reg
422,WARN,Regions:189,Поезд 200020028984 не может быть отнесён к к.-л. плечу,-1,200020028984
423,WARN,Regions:189,Поезд 200020029220 не может быть отнесён к к.-л. плечу,-1,200020029220
424,WARN,Regions:189,Поезд 200020053852 не может быть отнесён к к.-л. плечу,-1,200020053852
425,WARN,Regions:189,Поезд 200020077987 не может быть отнесён к к.-л. плечу,-1,200020077987
426,WARN,Regions:189,Поезд 200020095886 не может быть отнесён к к.-л. плечу,-1,200020095886

In [62]:
df[df.text.apply(lambda x: '200021105168' in x)]

Empty DataFrame
Columns: [level, src, text, fail_init, fail_loco_reg]
Index: []